[2019-03-26 06:31] kresli commented on #1208
[code]
<img width="592" alt="image" src="https://user-images.githubusercontent.com/3826097/54975849-5915da00-4f90-11e9-92a7-183f73fc10e1.png">

and
<img width="723" alt="image" src="https://user-images.githubusercontent.com/3826097/54975865-64690580-4f90-11e9-9ca8-157043314828.png">

**Previous version**
[code]
<img width="560" alt="image" src="https://user-images.githubusercontent.com/3826097/549

[2019-03-26 10:21] simmons8616 commented on #1208
Upgrade to version 3.12.2 just fine. great!

[2019-03-26 17:05] charlieroth opened #1237 "Map not behaving as observable"
**How to properly use types.map(model) and iterate?**

* [x] I've checked documentation and searched for existing issues
* [ ] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

I have following action in that is fetching an array of objects from my API. I am attempting to only update the polls that need to be updated in the mobx state based on the `upda

[2019-03-27 02:59] charlieroth commented on #1237
Was able to figure it out. I needed to use `values(someMap)map(...)` instead and I needed to make more components `observer`s

[2019-03-27 02:59] #1237 closed

[2019-03-27 10:24] ConneXNL commented on #1208
Not so sure. I still have the same issue.

[2019-03-27 11:50] xaviergonz commented on #1208
I'd enable strict null checks

[2019-03-27 16:49] xaviergonz commented on #1236
In theory when the original (referenced) node is deleted from the tree, then the reference should be automatically removed from the parent array when using safeReference.

Can you post a minimal reproduction code?

[2019-03-27 16:51] xaviergonz commented on #1232
you can alwasy do actionGhosts: observable([]) if all you want is to make the array observable without any MST enhanced stuff

[2019-03-27 16:51] xaviergonz commented on #1232
That being said, volatile should make anything you pass to it observable

[2019-03-27 17:03] dfee commented on #1236
[code]

[code]

[2019-03-27 17:14] dfee commented on #1236
For additional clarification, I'm not able to reproduce that there are `undefined` values in the array, only that either:
1) there should be `undefined` values in the array (and the documentation need to be updated)
2) there shouldn't be `undefined` values in the array (and the types need to be updated)
3) ... some other misunderstanding on my end :)

[2019-03-28 19:50] xaviergonz commented on #1236
That sounds actually like a typescript false positive

The thing is that the type of a safe reference (since it can be set to undefined at any moment) is either the object or undefined (which is right for model properties), but when the array takes it, it thinks it is an array of models or undefined values (which in runtime cannot ever happen)

Same goes for maps.

To fix it there should be a rule

[2019-03-28 23:18] kresli opened #1238 "Feature request `types.defaults`"
**_Feature request_**

**Is your feature request related to a problem? Please describe.**
[code]

**Describe the solution you'd like**

Just an basic concept
[code]

**Are you willing to (attempt) a PR?**
* [x] Yes
* [ ] No

[2019-03-28 23:36] kresli commented on #1238
probably better name? `partialyOptional` `partOptional` `semiOptional` ...

[2019-03-28 23:53] kresli commented on #1201
what I'm doing for circular is
[code]

[2019-03-29 00:42] kresli commented on #1230
Its not possible to use inheritance because there is none. However you can cheat but I wouldn't :D This is more for fun then actual usage but here we go
[code]

[2019-03-29 21:02] #1215 closed

[2019-03-29 23:00] dfee commented on #1230
@kresli interesting. I see it as being for actual usage, though. (despite the fact that I'm interested in `ExtractProps` which ccomes from `mobx-state-tree/dist/internal`.

The big challenge I'm seeing with MST is that there aren't any conventions for generating code (i.e. factories). Well, we can generate code, but it's impossible to describe generics of this code elsewhere as important types lik

[2019-03-30 00:34] dfee commented on #1230
@kresli here is an example of how i'm failing:

[code]

[2019-03-30 16:54] #1195 closed

[2019-03-30 16:59] #239 closed

[2019-03-30 17:04] xaviergonz commented on #1236
btw, for now what you can do is

[code]

[2019-03-30 18:19] xaviergonz commented on #1238
can't you just do something like
[code]

[2019-03-31 01:11] Maaartinus commented on #1227
@xaviergonz Thanks a lot for your answer, but I've got a much better example now:

In a view, I read a list obtained from the server. Because of the list being in use, I want to refresh it when older than a threshold. This is obviously an action. I guess, something like this
[code]
is broken because of caching as changes of the current time do not get reflected, right?

This looks to me like a com

[2019-03-31 08:03] xaviergonz commented on #1227
Why not
[code]

[2019-03-31 08:05] xaviergonz commented on #1227
You can even make refreshIfAsync / doRefresh / getUpdatedList asyncs if needed

[2019-03-31 15:22] Maaartinus commented on #1227
@xaviergonz Thank you. So I simply use a function rather than a property as a view in order to avoid caching (which is still possible in `allAsList` which actually does some work) and I'm done.

Concerning "flow", I'm rather lost. I used it once and found out that I understand nothing of the code the debugger shows. But that's a different story.

[2019-03-31 15:22] #1227 closed

[2019-03-31 15:24] kresli commented on #1238
Sure, that's what I'm doing inside HOF but the problem with above is overtire ability to any type
[code]
What I really like to have is fully typfesafe defaults. If I remove isOpen from the Sidebar I really like to see TS errors in child chain. Its really the same as `types.optional` but only on chosen props.

[2019-03-31 15:36] kresli commented on #1230
@dfee that's only because you missing return type on `acceptsAllBaseInstances`.

[2019-03-31 15:58] kresli opened #1241 "create custom type doesn't work"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**
https://codesandbox.io/s/ryqk7pvwq

**Describe the expected behavior**
- throw error if value missing

[2019-04-01 04:09] Maaartinus opened #1242 "types.maybe vs types.maybeNull"
**_Question_**

* [x] I've checked documentation and searched for existing issues
* [ ] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

According to https://mobx-state-tree.gitbook.io/docs/api#types-maybe,
[code]
should be the same as
[code]
but it is not as I got an exception like "null is not assignable to string" with the former, while the latter w

[2019-04-01 05:43] dfee commented on #1230
@kresli well sure, I could manually type `id` as having a return type of `string`, but the problem is that I'm having to type something that could / should be inferred. The consequence being that I'm losing type safety (TypeScript infers it as `any`).

[2019-04-01 06:27] kresli commented on #1230
[code]

[2019-04-01 07:23] stoefln commented on #1232
@xaviergonz then I wonder why I don't get any reactions (react render calls) from
[code]

[2019-04-01 07:24] stoefln commented on #1232
BTW:
I am using mobx 4.9.1 and MST 3.10.1

[2019-04-01 07:44] kresli commented on #1242
Actually types.maybe resolve to `types.optional(types.union(type, types.literal(undefined)), undefined)` as per docs https://github.com/mobxjs/mobx-state-tree#utility-types

[2019-04-01 07:45] kresli commented on #1242
there is difference between `types.maybe` and `types.maybeNull`

[2019-04-01 08:39] dfee commented on #1230
Alright, @kresli sorry for changing the goalpost on you. But getting back to your original implementation, that code actually fails – when the code is further modified.

in the example below i've:
1) added User (which is created via `modelFactory()`)
2) has extra props (`firstName` and `lastName`)
3) has a view (`displayName`).

The `acceptsAllInstances` still passes, but `acceptsAllBases` now fai

[2019-04-01 09:19] kresli commented on #1230
No worries, happy to help. However I think we should move to spectrum with further discussion. Its not really an issue on MST side but approach to make it work. Link the spectrum link here just in case others would have similar question

[2019-04-01 16:05] dfee commented on #1230
Here's a link to the chat: https://spectrum.chat/mobx-state-tree/general/factory-pattern-with-mst~0496904e-d779-4096-9e88-a8ed642015e2

[2019-04-01 16:08] xaviergonz commented on #1241
I just tried this and it worked
[code]

Btw, on your unit test you had
[code]

[2019-04-01 16:14] xaviergonz commented on #1230
I just want to add that if you think some types should be publicly exposed (e.g. ExtractProps) feel free to say so and they can be made public (probably with other name though :) )

[2019-04-01 16:46] xaviergonz commented on #1238
Ah, so this then?
[code]

[2019-04-01 18:02] xaviergonz commented on #1238
@mweststrate what do you think of adding such feature? If you agree, which name?

[2019-04-01 18:10] xaviergonz commented on #1232
hmm, it should, can you make a minimal reproduction on the sandbox?

[2019-04-01 19:18] Maaartinus commented on #1242
Thank you both. I'm leaving this open for someone capable of updating the gitbook.

[2019-04-01 20:50] kresli commented on #1241
thanks for your time to take a look. You right, its working properly. It took a while to find out its because  `import`
**not working**
`import  moment from 'moment'`
**working**
`import * as  moment from 'moment'`
Thanks again 🥇

[2019-04-01 20:50] #1241 closed

[2019-04-01 21:20] xaviergonz commented on #1236
Actually after some thought it is not actually a false positive since there are rare cases where an array of safe references can actually have undefined values:
* if the input snapshot has undefined values they will be kept (because it is a maybe type)
* if the array slot is manually set to undefined it is valid and kept (because it is a maybe type)

Although rare, it is possible, so the type shou

[2019-04-03 06:43] RWOverdijk commented on #371
Example of what I'm doing:

`const authStore = (getParent(self) as Instance<typeof RootStore>).authStore;`

I hope there's a prettier alternative 😄

[2019-04-03 07:16] xaviergonz commented on #371
`getParent<typeof RootStore>(self) `

[2019-04-03 13:15] RWOverdijk commented on #371
@xaviergonz That is nicer indeed. Thanks :)

[2019-04-04 09:27] benkuly opened #1247 "TypeScript error: Type instantiation is excessively deep and possibly infinite. TS2589"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x]  I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**

https://github.com/benkuly/mst-issue-ts2589

**Describe the expected behavior**

I defined the mst-m

[2019-04-04 22:30] juanmiret opened #1248 "Identifier inside optional is generating the same id for multiple instances"
**_Bug report_**

* [ x ] I've checked documentation and searched for existing issues
* [ x ] I've made sure my project is based on the latest MST version
* [ x  ] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**
https://codesandbox.io/s/l44wxqkxzq?fontsize=14

I have a model like this:

const Box = types.m

[2019-04-05 01:14] ataravati opened #1249 "Update a model in multiple arrays"
**_Question_**

* [x] I've checked documentation and searched for existing issues
* [ ] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

I have a model that has multiple arrays of the same type.

[code]

How do I make sure when I updated a Product it gets updated in all these arrays? Let's say a Product is selected. I need to make sure that the Product

[2019-04-05 05:27] xaviergonz commented on #1248
Use an arrow function if you want a changing default ` types.optional(types.identifier, () => uuid())`

[2019-04-05 12:40] juanmiret commented on #1248
That did it! Thanks @xaviergonz

Do you think I should submit a PR to the docs?

[2019-04-05 13:57] xaviergonz commented on #1248
Feel free to send a PR to improve them :) It is mentioned however

[2019-04-05 22:59] davidyxu opened #1250 "async handling issue in createActionTrackingMiddleware2"
I believe there's some unintended changes in the new `createActionTrackingMiddleware2` when working with asynchronous workflows without the `onSuspend` functionality.

**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another min

[2019-04-06 13:00] marcofugaro commented on #1208
bug is still present! stale bot is way too strict

[2019-04-06 20:45] danfma opened #1252 "Typescript: property not recognized."
I tried to use `mobx-state-tree` with TypeScript and I`m receiving an error:

[code]

![image](https://user-images.githubusercontent.com/101121/55675005-82890c80-5892-11e9-8091-7859e5700b0a.png)

**_Bug report_**

* [x] I've checked the documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [ ] Fork [this](https://codesandbox.io/s/y64pzx

[2019-04-06 21:11] xaviergonz commented on #1252
Not sure what's wrong with stackblitz, the very same code works ok on vscode

Using this tsconfig.json btw, if it helps
[code]

[2019-04-06 21:22] xaviergonz commented on #1249
I'd make a single array of products, then an array of safe references for selected products and another one for search

Another alternative (if you want to keep a selected and insideSearch attribute inside product) is to have an array of products and then one view for selected that filters through products with selected set to true and another for search that filters by insideSearch set to true

[2019-04-06 21:39] danfma commented on #1252
Yeah, I just realized that my code is using an old typescript version. I will close the issue.

[2019-04-06 21:39] #1252 closed

[2019-04-06 21:40] ataravati commented on #1249
@xaviergonz I can’t do that, because the single `products` will be too big. I can’t fetch all products from the database at once.

[2019-04-08 13:34] pvpshoot opened #1254 "siblings type references"
**_Question_**

* [x] I've checked documentation and searched for existing issues
* [ ] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

Hi i have a noob question, how to reference to model inside the tree on other branch
![IMG_5410](https://user-images.githubusercontent.com/6636655/55727821-e262ed00-5a23-11e9-90db-7e244bd2eb3c.JPG)

and some code for

[2019-04-08 14:21] dtabuenc commented on #1208
I have the same problem. Very simple repro:

[code]

[code]

[2019-04-08 15:17] pvpshoot commented on #1254
is one of the way
[code]

[2019-04-08 15:52] xaviergonz commented on #1208
It will be fixed after this pr is merged
https://github.com/mobxjs/mobx-state-tree/pull/1251

[2019-04-08 15:52] xaviergonz commented on #1208
Well actually it depends on the tsconfig you have

[2019-04-08 16:07] #1254 closed

[2019-04-08 16:25] marcofugaro commented on #1208
@xaviergonz which compiler option breaks it?

[2019-04-08 23:45] kresli opened #1255 "Inferring intersected IModelType results with the first provided type"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [ ] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

[code]
**Describe the expected behavior**

[code]

**Describe the observed behavior**

[code]

[2019-04-09 11:49] kresli commented on #1249
then don't fetch all at once. Its not really about what you fetch but where you'll save the payload. As @xaviergonz suggested, use single products array. Well, actually change array to map so you can easily add new products by id.

[2019-04-09 16:09] #1247 closed

[2019-04-09 16:22] #1250 closed

[2019-04-09 16:33] xaviergonz commented on #1255
you could just do the and over the inner generic
[code]

[2019-04-09 16:58] xaviergonz commented on #1247
Should be fixed in v3.14.0

[2019-04-09 16:59] xaviergonz commented on #1208
Most probably strict null checks being disabled
Anyway try v3.14.0, it removed `create` trying to be too smart to guess if the snapshot parameter should be present or not

[2019-04-09 17:04] ataravati commented on #1249
OK, got it. Thank you, both! @xaviergonz @kresli

[2019-04-09 18:00] kresli commented on #1208
Still seeing this in 3.14.0 with strict true and no other strict option specified.

[2019-04-09 18:04] kresli commented on #1255
Thanks, not sure what you mean but I just updated to 3.14.0 and all works as expected. Thanks

[2019-04-09 18:04] #1255 closed

[2019-04-09 18:21] xaviergonz commented on #1208
Can you upload some repo project to github?

[2019-04-09 19:05] kresli commented on #1208
To be more specific, the type throw an error please check `src/index.ts`
https://codesandbox.io/s/ppqj7rmn37
<img width="630" alt="image" src="https://user-images.githubusercontent.com/3826097/55827691-a94d7a00-5b02-11e9-86cc-b689c85e364d.png">

[2019-04-10 11:40] xaviergonz commented on #1208
That particular error is because IOptional now takes an array of values that are turned into the default value (usually [undefined])

[2019-04-10 11:48] kresli commented on #1208
@xaviergonz  yes, fixed by adding `[undefined]` eg: `IOptionalIType<ISimpleType<string>>, [undefined]>` Not much an issue. Just wonder if second param should be optional?

[2019-04-10 15:02] tomdid commented on #1157
I would love to get this fixed too as for now instead of using `getRoot(self).id` / `getParent(self).id` , I am forced to pass the id as an argument to action, which is not that nice.

[2019-04-10 15:37] benkuly commented on #1247
Very cool! Thank you! :-)

[2019-04-10 17:05] xaviergonz commented on #1157
Or you can add the return type explicitly like I commented above

[2019-04-11 11:00] ConneXNL commented on #1208
Tried 3.14.0 one more round, still failing.  strictNullChecks = false. Enabling that breaks a lot of other stuff in the project so cannot enable it.

[2019-04-11 13:36] marcofugaro commented on #1208
Same for me, I don't think MST should depend on the user's compilerOptions to work correctly.

[2019-04-15 11:32] benkuly opened #1257 ""Invalid action path" error with precompiled typescript module"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**

https://github.com/benkuly/mst-issue-1257

**Describe the expected behavior**

When I extract a very

[2019-04-15 11:35] xaviergonz commented on #1257
Could you post some code that exhibits the error?

[2019-04-15 12:10] benkuly commented on #1257
I updated the first post with a link to minimal repo.

[2019-04-15 12:48] yanlee26 opened #1258 "I cannot assign the value to the store when my statements are more than 7?"
`
self.isEmpty = false;
        self.details.register_time = res.register_time;
        self.details.nickname = res.nickname;
        self.details.login = res.login;
        self.details.avatar = res.avatar;
        self.details.mobile = res.mobile;
        console.log(res);//it prints well
        self.details.weChat_nickname = res.weChat_nickname;
`
While...
`
self.isEmpty = false;
        self.

[2019-04-15 14:35] xaviergonz commented on #1258
I'm sorry, but I don't get what you mean...

[2019-04-15 14:40] francesco-carrella commented on #584
no news here?

[2019-04-15 14:56] Bnaya commented on #584
@francesco-carrella  see my comment: https://github.com/mobxjs/mobx-state-tree/issues/584#issuecomment-355977290

[2019-04-15 16:00] xaviergonz commented on #1257
It seems to be because the common bundle.js is bundling its own version of mobx-state-tree, while the server one is bundling its own one as well.

Try adding this to your common webpack config
[code]

that way the common bundle will keep the "require" for both libraries and therefore use the ones bundled in mobx-state-tree

[2019-04-15 16:07] francesco-carrella commented on #584
thanks @Bnaya, is looks nice but I suppose it keeps out all non-TS cases.
What about adding the `.static()` method as you mentioned here? https://github.com/mobxjs/mobx-state-tree/issues/584#issue-286461578

[2019-04-15 16:11] xaviergonz commented on #1257
That being said, there could be changed made to warn/give an error when two or more mst instances are found I guess...

[2019-04-15 17:12] #1230 closed

[2019-04-15 19:12] #1232 closed

[2019-04-15 20:12] #1242 closed

[2019-04-16 09:54] poalrom commented on #1157
Its not working with getParentOfType: https://codesandbox.io/embed/2p1qn9n1op

[2019-04-16 10:04] benkuly commented on #1257
Thanks! Added this lines to webpack config, but nothing changed - same error :/

[2019-04-16 10:44] xaviergonz commented on #1257
That's strange, it worked for me.
Does your webpack.config.js in packages/common look like this?
[code]

[2019-04-16 10:52] benkuly commented on #1257
Exactly. Also commited to the repo from the first post.

[2019-04-16 11:00] benkuly commented on #1257
Sorry, works now after I removed node_modules directories.
Thank you very much :-)

[2019-04-16 11:01] #1257 closed

[2019-04-16 11:02] xaviergonz commented on #1157
That's a different issue (Post depends on Category, and Category depends on Post). In that particular case do NOT explicitly set the return type and let it be inferred and it should work

[code]

[2019-04-16 11:40] poalrom commented on #1157
When I dont set return type its not working with async functions: https://codesandbox.io/s/yplz3lkv7z

Should I open another issue for this?

[2019-04-17 05:07] davidosomething opened #1259 "remove dead references before getSnapshot"
I think there were plans for a `safeReferenceArray` type? What happened to that?

Right now in a model:

[code]

If you `x = item; destroy(x)` for an item referenced in `items`, it is only marked as dead.

`getSnapshot` intentionally gets the last created snapshot so it will still have `items.filter((i) => i === x.id)` in it

The way to get around it is to

[code]

right before you do a `getSnapsh

[2019-04-17 14:06] #1236 closed

[2019-04-17 14:09] xaviergonz commented on #1259
just got merged, will be released eventually

https://github.com/mobxjs/mobx-state-tree/pull/1245

However I'm not sure if that would fix it and that might be a different bug, could you post a minimal code reproduction?

[2019-04-18 03:33] davidosomething commented on #1259
turns out it was because i had a stale `useMemo` hook -- a memoized model is not the same as the original

[2019-04-18 03:33] #1259 closed

[2019-04-18 18:44] johnrees opened #1260 "Support JSON Patch move operation"
**_Feature request_**

**Is your feature request related to a problem? Please describe.**

The application I am currently working on uses a very large tree structure. I often need to move nodes around and patches currently delete the node (and all of its descendants) then recreate it in the new location. It is a collaborative editor and these patches are broadcast via websockets and it seems waste

[2019-04-18 19:08] Relaxe111 opened #1261 "How to remove a reference from an array of refferences from another model?"
Question.
How can i remove a reference of a model from an array of references like is shown in example above?
model:
[code]
in my removeParticipant i pass position of the reference in the array but i can pass whole referenced model either.
Any help is highly apreciated.

[2019-04-19 09:13] xaviergonz commented on #1261
If you mean to remove the reference without removing the original then self.participants.splice(i, 1) should do

[2019-04-19 16:08] #1248 closed

[2019-04-21 16:56] marcofugaro commented on #1208
not again stale bot

[2019-04-23 10:28] aksonov commented on #1149
@mweststrate Is there any progress about MST integration?

[2019-04-23 17:19] #1249 closed

[2019-04-23 18:55] xaviergonz commented on #1260
Sounds good to me, though I'm not sure how it would be pulled off since arrays don't really have a "swap" method, so it might be hard to generate such patches for a single operation.

By the way, does it only apply to arrays?

[2019-04-24 22:35] southerneer commented on #1078
[tinyrobot](https://tinyrobot.com/) uses (and loves) all flavors of mobx.

[2019-04-25 14:03] benkuly opened #1263 "distribute state between multiple devices"
**_Question_**

* [x] I've checked documentation and searched for existing issues
* [x] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

Currently I distribute the application state between multiple devices and a server with the help of socket.io and mst with onAction and applyAction.
The clients and server use the same mst-model from a common package.

[2019-04-25 22:48] nikunjbansal commented on #991
why does the selected item need to be in the array of items? I spent about an hour struggling with this. If the element is not present in the array, then I get a  "reference not of type" error.

[2019-04-26 07:19] LaurensBosscher commented on #1078
[Simplicate](https://www.simplicate.nl/) will be using MST in the next version :)

[2019-04-29 11:33] k-g-a opened #1267 "[RFC] SelflessModel"
## Problem

MST is known to be much less performant in terms of both CPU load and memory footprint than pure mobx. Currently the problem is partly solved by making everything as lazy as it can be.
But the problem reappears as soon as one needs to aggregate some data across all the instances.

For the example of 50 Parents (4 props + children, 2 computeds, 4 actions) each holding 100 Children (2 pr

[2019-04-29 14:05] ConneXNL commented on #1267
I love the initiative of making MST faster! I ran into the same issue that aggregating data undoes any optimization that was done in terms of lazy loading.

Since my use case doesn't use much actions it won't fix my performance issues with MST. However, I agree that the addition of "self" to make things more Dev friendly does not weight up to the loss in performance.

Looking forward to your other

[2019-04-29 15:28] #1258 closed

[2019-04-29 16:14] vladlavrik opened #1268 "Type mismatch when using “types.reference” with Typescript"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**
https://codesandbox.io/s/09q10597w

**Minimal reproduction code:**
[code]

Looks like a closed issue:

[2019-04-29 18:59] xaviergonz commented on #1268
Thanks, should be fixed once the PR is merged and released as a new version

[2019-04-29 20:04] xaviergonz commented on #1268
Actually upon further investigation you have to use "castToSnapshot" when using instances as snapshots

e.g.

[code]

another option (recommended actually) is to not use instances when instantiating snapshots if possible
[code]

[2019-04-29 20:05] xaviergonz commented on #1268
As a rule of thumb, when trying to use an snapshot where an instance would be required use `cast`
When trying to use an instance when an snapshot would be required use `castToSnapshot`

[2019-04-29 20:34] Maaartinus opened #1270 "Tons of setters boilerplate"
I need a way to create / update tens of entities, where each of them has tens of fields. Usually, there's a single dialog for both actions using a MST model. I don't mind adding the fields to the model, but adding also the setters feels too repetitive.

So I did something like
[code]
which allows me to simply write
[code]
which works, but feels like a terrible hack. Unfortunately, the saner altern

[2019-04-29 20:35] vladlavrik commented on #1268
Thanks so much for the solution.🙏
You are right it is only a wrong usage.
I think I can close the issue.

[2019-04-29 20:35] #1268 closed

[2019-04-29 20:39] xaviergonz commented on #1267
While I love the idea of more speed, I can't think of any way to make TS get along with that properly without using self and a function :-/

However, maybe if self was actually a proxy that would change the current instance (this) based on over what object is the invoker then maybe the actions/views/etc could be reutilized for all the objects of the same kind?
[code]

But I'm not sure how well tha

[2019-04-29 21:47] davidyxu opened #1271 "createActionTrackingMiddleware breaks with nested flows"
**_Bug report_**

* [ ] I've checked documentation and searched for existing issues
* [ ] I've made sure my project is based on the latest MST version
* [ ] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**
https://codesandbox.io/s/6w5p1qwr4k

**Describe the expected behavior**
There should be no issue with

[2019-04-30 10:40] Rain120 opened #1272 "This object has died and is no longer part of a state tree. It cannot be used anymore."
version:
![image](https://user-images.githubusercontent.com/20939839/56956492-eb546380-6b76-11e9-86e7-3b64e4b83077.png)

Error:
![image](https://user-images.githubusercontent.com/20939839/56956477-db3c8400-6b76-11e9-823a-510c9127481a.png)

How to solve this error？

It didn't work after closed the react developer

[2019-04-30 15:50] xaviergonz commented on #1272
I've seen that when using react dev tools (and only when using them). It seems like for some reason react devtools try to deeply read props of dead components and therefore triggers that error. Your best bet right now is to just turn it into a warning.

[2019-04-30 16:03] Rain120 commented on #1272
Do you mean React Developer Tools?

![image](https://user-images.githubusercontent.com/20939839/56975853-3d5fae00-6ba4-11e9-831e-06877a54acd8.png)

I had to try it but it didn't work.

[2019-04-30 19:45] xaviergonz commented on #1267
Actually I take it back, I found a way to make it work with TS :D

POC
[code]

[2019-04-30 21:06] xaviergonz commented on #1267
The good thing about being self-less is that there's no way to use a view that wasn't turned into a computed (since it has to go through "this" forcibly

Also I actually like how it forces separation from a possible init block / constructor-ish, wich could probably go like
[code]

would fit well with the new "hooks" idea I think.
The only omission is 'onCreate' and 'onAttach' / 'onDetach', but I t

[2019-05-01 15:37] xaviergonz commented on #1271
Did you consider trying `https://github.com/mobxjs/mobx-state-tree/blob/master/docs/API/README.md#createactiontrackingmiddleware2` ?

[2019-05-01 15:50] xaviergonz commented on #1272
Then maybe some component is trying to access the property of an object that is no longer in the tree?
According to that message some component named "ConfigItems" is using something in "permission.list[54]" when that item is already dead.

[2019-05-01 15:50] xaviergonz commented on #1272
Ah wait, I just saw you are using mst 2.x

[2019-05-01 16:59] davidyxu commented on #1271
I took a brief look at it but it lacks the onSuspend and onResume callbacks which are convenient for tracking async actions.

[2019-05-02 02:49] Rain120 commented on #1272
yup， the project used the mst 2.0.5.
I found the error accur with one function execute, and the model store don't set 1 property named children, and the api return it, but I try set the property at  store, it's useless

[2019-05-02 07:21] davidosomething opened #1275 "Dead ids in getSnapshot()"
When you have an array of safeReferences
And you destroy an item that is referenced in the array
`getSnapshot()` will return a snapshot with ids to dead nodes.

E.g.

[code]

Is there a way to invalidate them? The onInvalidated() doesn't run on applySnapshot and the pre/post processors don't have access to the instance afaik

[2019-05-02 18:45] xaviergonz commented on #1275
I just wrote this unit tests and it seems to be passing:
[code]

[2019-05-02 18:47] xaviergonz commented on #1272
I'm afraid mst 2.x is not mantained anymore :-/
Can you reproduce it with the latest 3.x?

[2019-05-02 18:48] xaviergonz commented on #1271
Just wondering, what does your middleware do? Maybe there's some way to write it with the newone (or add something to the new one so it supports it).

[2019-05-02 19:08] benjamind commented on #1271
@davidyxu is away on PTO, but I can help answer this one.

The middleware is a transaction tracking implementation. It allows us to build transactions that record model property changes over an action (include async flow actions), building up a collection of snapshots of model changes which can then be all 'commited' at once to a backend. So it makes use of `onResume` to swap out the transactions

[2019-05-02 19:15] xaviergonz commented on #1271
That sounds doable, since it is pretty close to what atomic does.

The trick is in the first part of the "onStart" part, inside the recorder filter function, which makes sure it won't record patches outside of the flow / flow children actions (or sync actions, it is all the same for the new actionTrackingMiddleware)

[code]

would that work?

[2019-05-02 19:52] kauly commented on #27
A example with mobx-react-lite will be nice.

[2019-05-03 06:17] davidosomething commented on #1275
It was a little tough to recreate, but I've pared down my app with an example here:
https://github.com/davidosomething/mst-dead-ref-2

### steps to reproduce

#### init app
1. `npm install && npm start`
1. Hit the import test data button
1. click the sync button  ![image](https://user-images.githubusercontent.com/609213/57122002-f19a3980-6d48-11e9-9676-7d743ac8353f.png)

#### run app

1. hard refr

[2019-05-03 09:17] Rain120 commented on #1272
srr, I can't do that, bcs this is a big project.

[2019-05-05 19:26] kimgronqvist opened #1276 "Feature request: Partial models"
**_Feature request_**

**Is your feature request related to a problem? Please describe.**
I miss a built in way to create partial models in MST. Especially when working with a graphql backend, it's cumbersome to having to define all properties on a model as optional.

**Describe the solution you'd like**
Maybe something analogous to pick in Typescript? The name could be Pick or Select.

[code]

Or

[2019-05-07 02:03] jjrv commented on #1187
@mweststrate `classy-mst` requires some massaging when `mobx-state-tree` updates. The changes are small but annoying to figure out. To me it seems inheritance works just fine and there isn't really any reason not to support this officially, but YMMV.

[2019-05-07 10:00] gamliela opened #1277 "SnapshotOrInstance does not allow map on the underlying collection"
**_Question_**

* [x] I've checked documentation and searched for existing issues
* [x] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

Hey, good work and thanks for making all of this happening!

I wonder why this code doesn't work, and if it relates to how `SnapshotOrInstance` is implemented.

[code]

It seems that because `SnapshotOrInstance` is a

[2019-05-07 17:05] livfwd commented on #301
@adamsanderson if you don't mind me asking, what was the solution your team ended up using for this?

[2019-05-07 20:41] #1261 closed

[2019-05-08 14:12] pfurini opened #1278 "How to use types.snapshotProcessor in a transparent way"
**_Is there a way to use types.snapshotProcessor as transparently as old hooks?_**

* [x] I've checked documentation and searched for existing issues
* [x] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

I see in your test cases that the expected usage pattern for a snapshot processor is like the following:
[code]

So let's say I have a `User` model t

[2019-05-08 15:27] benkuly commented on #1123
I have the same problem: I can't assign a string to a reference. In the example above: I get a ts-error in the selectItem action.

[2019-05-08 17:18] xaviergonz commented on #1278
[code]

You mean that?

[2019-05-08 17:25] xaviergonz commented on #1277
That's the limitation of TS

```{x: number; y: string} | {x: number; z: string} = {x: number}``` only shared props (the intersection) remains

Like you mention, it is made for input params that end up in being a plain assignation.

If you expect to operate over the input param and you know it is an instance then only use Instance

If you expect to operate over the input param and you know it is a

[2019-05-08 17:28] xaviergonz commented on #1276
Another option (if you know what you are going to pick beforehand) is making the partials and then using types.compose to make the full one

const BasicUser = types.model({
  // id, name, address, maybe some actions, views...
})
const UserDetails = types.model({
  // whatever else
})

const FullUser = types.compose(BasicUser, UserDetails);
[code]

[2019-05-08 17:51] jennypho opened #1279 "Making relationships between models"
**_Question_**

* [ ] I've checked documentation and searched for existing issues
* [ ] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

[2019-05-08 17:51] jennypho commented on #1279
I have two models/stores each referring to an object. Store2 gets populated after Store1 gets populated and receives a childId. How would I have Store2 listen to when Store1 gets populated?

Store1

import {action} from 'mobx'
import axios from "axios";
import {types} from "mobx-state-tree";

const Store1 = types.model('Store1', {
    id: types.number,
    name: types.string,
    description: type

[2019-05-08 17:52] #1279 closed

[2019-05-08 18:03] benjamind commented on #1271
I've taken a look at this and I don't think it works for us unfortunately.

We don't use the IPatchRecorder to track our data, we actually setup reactions on specific properties in our data models. Our transaction middleware is only responsible for ensuring the correct transaction is set on the state tree nodes environment. Its monitoring for start/resume of actions and setting the environment up

[2019-05-09 09:04] kimgronqvist commented on #1276
Thanks, that works well for simple cases. As you start using the model in more places though, it can quickly become unwieldy.

[code]

[2019-05-09 10:29] gamliela commented on #1277
My original intent was to make the function generic (option 3), so I tried similar approaches to your snippet. In your code, both approaches require `XType.create(castToSnapshot(x))` - isn't any other way without suffering the performance hit?

Still, both ways are too verbose, to my opinion. I was hoping it is possible to write the TS code in a way that will "simply works", because I think my use

[2019-05-09 18:44] Bnaya commented on #1278
Take a look on:
https://github.com/Bnaya/mst-error-boundaries/blob/master/src/mst.ts#L3-L42
Might be helpful

[2019-05-09 21:50] Bnaya opened #1280 "Feature idea: Error boundaries (Conceptually similar to react errors boundaries)"
I have a feature idea that i want to discuss/brainstorm about:

MST "is react but for state", so i want an `modelDidCatch` hook, as react have `componentDidCatch`

I want to give the developer an ability to recover/"ignore" runtime type errors in the level of the model that had the issue (and not the applySnapshot root/create)
This is a code that +- do what i want:
https://github.com/Bnaya/mst-err

[2019-05-09 22:08] Bnaya commented on #1276
I assume you don't offer to edit the user on these views? its just info that you show,
And a click on the user name for example will take you to the full profile?

So just use` types.frozen()` and give it whatever interface you like (`types.frozen(<{username: string}>)`)

the docs don't have anchors, so i can't provide direct link

But in the bigger picture,
I have a feeling that MST might not wha

[2019-05-09 22:42] jennypho opened #1281 "How to have types.number to be less strict or take in string numbers"
Error: [mobx-state-tree] Error while converting `"1"` to `number`:
    value `"1"` is not assignable to type: `number` (Value is not a number).

Is there a way I can make it less strict when taking numbers?

[2019-05-09 23:17] Bnaya commented on #1281
The best practice would be: fix the data that you get, on the source side
The second option would be: use types.snapshotProcessor and fix the snapshot.

And the third option :)
you can try to use the code i'm proposing here:
https://github.com/mobxjs/mobx-state-tree/issues/1280
Take a look on that specific example:
https://github.com/Bnaya/mst-error-boundaries/blob/master/src/mst.test.ts#L137

[2019-05-09 23:34] jennypho commented on #1281
Thank you! This was very helpful!

[2019-05-09 23:34] #1281 closed

[2019-05-10 06:58] benkuly commented on #1123
@xaviergonz can you reopen that please?

[2019-05-10 09:52] elektronik2k5 commented on #1280
I like it! I had a similar idea which I prototyped in MST@2 a few months ago for this very purpose, where a failed attempt to apply a snapshot would log the error and optionally fallback to automatically mocked shape for the model which failed.
If there's enough interest, I can try to update that WIP to MST@3 and add complement @Bnaya's feature.

[2019-05-10 10:28] Bnaya commented on #1270
What about an action that gets the prop name as first parm, and value of the second?
You can also make it play with typescript using keyof and typeof

[2019-05-10 17:32] xaviergonz commented on #1123
Yeah, you need to do
```self.selectedItem = itemId as any````
when itemId is a string currently sadly

[2019-05-10 17:47] xaviergonz opened #1282 "[RFC] Rethinking references"
Right now refs are kind of hard to grasp for users, since they are actually ids that hide a resolution logic to objects.

Also they exhibit the following problems:
* they are hard for TS (because of their id / object duality)
* there's no way to fix a reference once broken (because accessing the reference itself will throw, which is required for assignation)
* checking if a reference is broken is

[2019-05-10 17:49] xaviergonz commented on #1123
See RFC https://github.com/mobxjs/mobx-state-tree/issues/1282

[2019-05-10 18:03] xaviergonz commented on #1270
[code]

didn't try it, but should be something like that

[2019-05-10 19:08] battletoilet opened #1283 "MST not working with Typescript 3.4.5, need a new version released."
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [ ] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**

**Describe the expected behavior**
For typescript to build with the latest version of MST.

**Describ

[2019-05-10 20:24] Bnaya commented on #1280
related #858

[2019-05-11 16:07] benkuly commented on #1263
For client site: Maybe an onAction/applyAction could contain something like an unique id?
For server site: I think it could need many typescript magic in mst to enable type-safe middlewares?

[2019-05-12 12:40] kimgronqvist commented on #1276
While it's true that these values are not directly updated from actions, frozen does not really help us. We heavily use `views` to automatically infer state, which plays well with the general philoshophy of GraphQL to fetch the minimal amount of data needed.

This is more about defining our models in a single place, and being able to define what parts of that model are required in other models.

[2019-05-12 14:10] Bnaya commented on #1276
Github just took away the long commnet i was writting.
So i will write short, and i can elaborte
Mst and graphql are somewhat opposites

Mst is normalized data while gql is denormalized.
But its completly ok so mix them, where needed.

Graphql is the one that makes the magic of fetching less data and cache behind the scene.
(And do that for a price. Always assume async)

You can always use refrenc

[2019-05-12 15:01] kimgronqvist commented on #1276
Libraries like Apollo internally treat data as denormalized. But that's not how you consume it. And if you just use raw graphql it's really up to you how you shape your apis and organize your data.

Right, hence this feature request which would make working with graphql and mst a lot smoother :)

[2019-05-12 15:53] pfurini commented on #1283
@battletoilet  Do you see these errors when including MST as a dependency in your project, or are you experiencing this when developing and building MST library itself?
Because I have migrated my project to TS 3.4.5 a couple of days ago, and everything is workings as before, so maybe it's something in your config...

[2019-05-12 18:04] Maaartinus commented on #1270
Doesn't it imply needing an arrow function in `onChange` (causing needless re-rendering) or needing some bridge-function per field (more boilerplate)?

Sounds funny, typescript is cool.

[2019-05-12 22:24] battletoilet commented on #1283
@pfurini I see it when including it as a dependency of my project.

[2019-05-13 04:19] Bnaya commented on #1283
I'm using ts 3.4.5, and i'm not having these errors.
Please provide a repro.

[2019-05-13 05:32] Bnaya commented on #1276
failed attempt # 1:
[code]

[2019-05-13 05:47] Bnaya commented on #1276
Attempt # 2
Working for props:
[code]

[2019-05-13 06:15] Bnaya commented on #1270
TypeScript, and react best practices requires some strictness and not using some very dynamic language features.

You may always use "run in action" and directly set what ever you like to what you like in
[code]
https://github.com/mobxjs/mobx-state-tree/issues/915#issuecomment-404461322

[2019-05-13 13:27] kimgronqvist commented on #1276
@Bnaya Thanks for the pointers!

If we separate actions and views into standalone functions, we can get pretty close.

[code]

That said, this is still pretty clunky. And I suspect it could suffer from performance issues.

[2019-05-13 14:35] Bnaya commented on #1276
Once you have a model in hand, you won't have any performance differences on runtime.
But typescript lang engine dose work harder

[2019-05-13 20:22] terrysahaidak opened #1284 "Getting parent of a reference (not a real node)"
**_Question_**

* [x] I've checked the documentation and searched for existing issues
* [x] I tried the [spectrum channel](https://spectrum.chat/mobx-state-tree/general/how-to-get-a-reference-parent~feffc1b5-b820-460c-a25a-90ddf6fb9514)

I'm building an application with a lot of references to the same model. So I had to store it separately in some sort of entities store normalized. But it makes it

[2019-05-14 00:32] davidyxu commented on #1271
Back from PTO, just wanted to follow up on this thread:

I think it is technically possible to take a similar filter approach as patch recorder but it feels like a much more roundabout approach to writing middleware. Knowing when to handle things feels like the responsibility of the create middleware api (rather than requiring additional filtering inside of whatever is being turned on).

I think i

[2019-05-14 09:19] marcofugaro opened #1286 "strictNullChecks: false does not get along well with types.optional in Typescript"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**
https://codesandbox.io/s/zn8262jl0l

**Describe the expected behavior**
There should be no errors in t

[2019-05-14 18:01] xaviergonz commented on #1284
Not at the moment unfortunately, since right now as soon as a reference is accessed what you get is actually the target node.

I created a few days ago a RFC to rethink the references API
https://github.com/mobxjs/mobx-state-tree/issues/1282

I think that by using that API it would be possible, since then the references would not be "dereferenced" automatically

[2019-05-14 18:03] xaviergonz commented on #1286
Could you post your tsconfig.json?

[2019-05-15 04:11] Bnaya commented on #1276
https://github.com/mobxjs/mst-gql/blob/master/README.md :)

[2019-05-15 09:54] marcofugaro commented on #1286
Yes, this is my tsconfig.json, I have strict null checks disabled, however I don't think MST must depend on my personal typescript configuration.

[code]

[2019-05-15 10:57] terrysahaidak commented on #1284
Thanks, @xaviergonz, sounds really cool.

As a workaround currently I'm using recursive references - I'm adding a reference to my Application model pointing to Job model which has reference to that Application model. Sounds really bad, but at least it works. Looking forward to a new API - it's the only thing I'm missing right now from MST.

Both you and @mweststrate did great work with MST. Thanks

[2019-05-16 19:23] mweststrate commented on #1282
Initial reaction: like!
Although it is kinda set it does leak the normalization abstraction.

Just a random idea, didn't think it through, what if we would keep things as is, but that `asRef(m.ref)` would return the object you described above? In that case people can always opt in to the more expicit api, but there is still only one reference type.  (`asRef(m.ref)` would require a weird temporaril

[2019-05-16 19:59] xaviergonz commented on #1282
What about `asRef(() => m.ref)`
if we deref an invalid ref directly (when passing it as a direct arg) then it would throw before getting to the `asRef` function

The one thing I don't quite like though is that the typing would be still kind of hard to do...
Well, now that I think about it, it is not supported at all now, now you need to do `m.ref = 5 as any`, whereas with this would be done with
`

[2019-05-17 07:29] #1275 closed

[2019-05-17 10:29] #1272 closed

[2019-05-18 16:16] terrysahaidak opened #1291 "safeReference causes "Computed values are not allowed to cause side effects" error"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**

https://codesandbox.io/s/mst-safereference-with-computed-bug-7qizx

**Describe the expected behavior*

[2019-05-19 20:28] terrysahaidak commented on #1291
I've played with it and got a version where I haven't used `safeReference` but it still showed me the same error, so maybe it's not really related. Can't reproduce it again though.

[2019-05-20 21:22] xaviergonz commented on #1291
The issue seems to be related to lazy initialization.
slice() in theory shouldn't do any changes in the model, but actually it is accessing all the items in the list and therefore lazy initializing them, and since it is done inside a getter it throws that.

That being said it should be an exception to that error, therefore I think it's a bug

[2019-05-22 06:17] agilgur5 commented on #1022
Just wanted to note for anyone else looking for a persistence solution for MST: I recently created [mst-persist](https://github.com/agilgur5/mst-persist) to simplify this a bit and unify the various gists and examples out there :)

Per https://github.com/pinqy520/mobx-persist/issues/37#issuecomment-493830440 , I can confirm its working and am using it in a production app. For now just a tiny wrapp

[2019-05-22 13:14] GonchuB opened #1295 "Code that runs in afterCreate hook does not generate snapshot"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**
https://codesandbox.io/s/dreamy-resonance-z3dt5

**Describe the expected behavior**
I should see both

[2019-05-22 16:03] dprentis commented on #1295
I think this is basically the same issue I am having.

I have some child nodes in an observable array of a parent store. They have `afterCreate` defined. Inside `afterCreate` they are validating and potentially modifying their own base properties. The changes are not seen when calling `getSnapshot` on the parent store.

Sandbox here: https://codesandbox.io/s/mobxstatetree-todolist-neo7q

[2019-05-23 11:33] #1277 closed

[2019-05-23 14:58] kornacki opened #1297 "types.snapshotProcessor and types.reference"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**
[https://codesandbox.io/s/mobxstatetree-todolist-gj3fx?fontsize=14](https://codesandbox.io/s/mobxstate

[2019-05-23 17:05] xaviergonz commented on #1295
@GonchuB  I think that is by design since stuff modified in afterCreate is still treated as part of the initial snapshot.

Not making it like that would mean that any computed that tried to access an object that modified itself in afterCreate would throw an exception (as long as the computed accessed it for the first time)

Related thread: https://github.com/mobxjs/mobx-state-tree/issues/967

@dpr

[2019-05-23 17:31] xaviergonz commented on #1297
Minimum code
[code]

TODO: add exception when types.reference is not passed a model type? (probably the same for safe ref)

[2019-05-23 19:33] #1278 closed

[2019-05-23 22:30] GonchuB commented on #1295
@xaviergonz so only way to produce another snapshot is to delay execution, leaving stuff out of sync. Or is there another way with the current api?

[2019-05-24 13:54] dprentis commented on #1295
@xaviergonz thank you for your answer!

If I create an action and call it on the child, the parent snapshot is updated correctly. Couldn't/shouldn't `afterCreate` work in exactly the same way?

eg. https://codesandbox.io/s/mobxstatetree-todolist-w27d8

[2019-05-24 19:06] #1123 closed

[2019-05-24 21:41] chobo2 opened #1299 "How to Debug there are multiple candidates:?"
Hi

I am using mst version (3.2.4) and I am running into this error

[code]
followed with this warning.

[code]

These errors happen so randomly(I got to click around for like 5 mins before I get the errors) but then I don't know where in my code it is happening.

[2019-05-25 17:07] #1263 closed

[2019-05-26 17:22] benkuly opened #1300 "unique id for onAction/applyAction"
**_Feature request_**

**Is your feature request related to a problem? Please describe.**

Currently I need a lock variable for distrubuted states (same [here](https://github.com/mobxjs/mobx-state-tree/blob/master/packages/mst-example-boxes/src/stores/socket.js)), but this leads to race conditions, so some actions gets never applied or send to socket.

**Describe the solution you'd like**

When th

[2019-05-27 07:08] #1270 closed

[2019-05-27 20:34] mweststrate commented on #1148
Closing this issue as mst-gql is kinda serious now, so all further questions could be handled there: https://github.com/mobxjs/mst-gql/

@Amareis I'm curious if this fit's your use case as well!

@kimgronqvist mst-gql has now a query select builder, as described here: https://github.com/mobxjs/mst-gql#customizing-the-query-result. Hope it solves your problems!

[2019-05-27 20:34] #1148 closed

[2019-05-28 18:51] #1283 closed

[2019-05-28 19:44] lindenquan opened #1301 "An image in document websiteis broken"
An image is broken https://mobx-state-tree.gitbook.io/docs/

[2019-05-28 20:22] #1301 closed

[2019-05-29 12:33] terrysahaidak commented on #1291
My workaround for this is:
[code]

It simply returns undefined for unresolved references.

[2019-05-30 11:08] FredyC opened #1303 "Strange error with React Devtools: the creation of the observable instance must be done on the initializing phase"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version

**Sandbox link or minimal reproduction code**
I am not able to reproduce it anywhere else unfortunately

**Describe the expected behavior**

MST shouldn't be surprised by shenanigans of React devtools :)

**Describe the observed behavior**

MST: 3.

[2019-05-30 21:05] OverseePublic opened #1304 "Production Mode MST Error message is too vague."
**_Feature request_**

**Is your feature request related to a problem? Please describe.**
Currently, if I try to do a `map.put` operation on a complex model with a different type, I get the following error. When this error happens in the production, the relevant stack information is removed in the error object that was originally thrown, making debugging extremely difficult in a very complex syste

[2019-06-01 08:31] xaviergonz commented on #1299
if you click on the arrow near the stack trace to expand the stack trace (assuming you are using chrome) you should see the part of your code that triggers it

Also, did you try the latest version? I should have improved errors

[2019-06-01 08:34] xaviergonz commented on #1300
you can use getRunnigActionContext().id to get the unique id of the currently running action

[2019-06-01 08:42] xaviergonz commented on #1303
Yeah, react dev tools do very weird stuff to passed props. It used to access them and all its props when they were no longer part of the props of a component (therefore triggering warnings/errors about detached objects being accessed).
I wonder if there's a way to detect when react-dev-tools are doing their weird "deep reading" and do something else instead (like returning the snapshot or whatever

[2019-06-01 08:45] xaviergonz commented on #1304
Which error reporting system are you using? Maybe there's some config to allow them to show the full stack trace rather than just the beginning? The whole stack trace should be there (like you saw in chrome dev tools), it is not like MST is trimming it on purpose :)

That being said, feel free to submit a PR if you think the error reporting can be improved

[2019-06-01 08:57] xaviergonz commented on #1295
the only way I could think would be to add something to force the initialization of the node
something like `initNode(parent)` after parent is created

Another alternative would be to implement a proposal such as this one

https://github.com/mobxjs/mobx-state-tree/issues/1267#issuecomment-488115651

namely this part

[code]

were in your parent node you could set it to 'eager' to indicate that you

[2019-06-02 17:03] benkuly commented on #1300
The problem with this solution is, that I can't get the action id from applyAction to copare it within onAction.

[2019-06-03 10:58] RWOverdijk opened #1305 "getParent in flow"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**

_RootStore.ts_

[code]

_VenueStore.ts_

[code]

**Describe the expected behavior**

A typed referenc

[2019-06-03 11:24] chunkey711 opened #1306 "How to describe model with dynamic keys"
**_Question_**

* [ ] I've checked documentation and searched for existing issues
* [ ] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

Hello, I have some problems with describing the dynamic object model.

[code]

I've achieved almost working model, but it ignore types description, and could receive any type of data. So I think, that i did something

[2019-06-03 11:27] terrysahaidak commented on #1305
@RWOverdijk could you please create a sandbox with an error?

Couldn't reproduce it:
https://codesandbox.io/s/awesome-perlman-7qdl6

[2019-06-03 11:55] RWOverdijk commented on #1305
@terrysahaidak https://codesandbox.io/s/boring-leaf-pjl4i

[2019-06-03 11:58] RWOverdijk commented on #1305
@terrysahaidak fyi all I did was yield rootStore (could be anything, but error 1 hides error 2) and enable strict in tsconfig.

[2019-06-04 12:24] terrysahaidak commented on #1305
I think @xaviergonz can help

[2019-06-04 18:09] cevek commented on #943
some possible solution:
[code]

[2019-06-04 20:17] ConneXNL opened #1307 "Issues with Typescript 3.5.1 release"
Typescript 3.5.1 just got released. After upgrading from typescript@3.5.0-dev.20190512 the following no longer seems to be working:

[code]

Here is the complete error:

[code]

Are the typings of MST compatible with TS 3.5.1?

When hovering over `self` of `.views(self => ({`. In TS 3.4.3 it was:
[code]

While in TS 3.5.1 `self` of `.views(self => ({` seems to be:
[code]

I tracked down that thing

[2019-06-05 02:20] bryanstearns opened #1308 "Optional default gets a Typescript complaint"
**_Bug report_**

When declaring an optional default for a model with entirely defaultable properties, I get a typescript error that I haven't been able to figure out.

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction

[2019-06-05 09:23] THPubs opened #1309 "How to define an object type in the model?"
Hi, I need to define an object in my model like this:

    const App = types
      .model({
        token: '',
        loading: false,
        user: {
          firstName: ''
        }
      })

When I do this, I get an error saying: `Object literal may only specify known properties and 'firstName' does not exist in type 'Date | IAnyType'`

[2019-06-05 17:08] xaviergonz commented on #1308
Might be related to this?
https://github.com/mobxjs/mobx-state-tree/pull/1269

[2019-06-05 17:11] xaviergonz commented on #1305
Does it work if you declare the return type of the flow directly? e.g.

[code]

[2019-06-05 17:15] xaviergonz commented on #1305
nevermind, I think it is related to the circular dependency, try using this
[code]

[2019-06-05 17:17] xaviergonz commented on #1306
[code]

[2019-06-06 09:26] terrysahaidak commented on #1305
@xaviergonz I didn't get why @RWOverdijk [codesandobx](codesandbox.io/s/boring-leaf-pjl4i) has errors by [my](codesandbox.io/s/awesome-perlman-7qdl6) is not. Could you please help me understand that?

[2019-06-06 10:09] RWOverdijk commented on #1305
@xaviergonz I tried that before opening this issue. It doesn't work and the same issue persists. You can see that in the sandbox too if you want.

[2019-06-06 10:11] RWOverdijk commented on #1305
@terrysahaidak Because you didn't enable strict mode. Also to see the error you need to both yield and use rootStore so add `yield rootStore` in someAction.

https://github.com/mobxjs/mobx-state-tree/issues/1305#issuecomment-498227120

[2019-06-06 15:19] IgorEfrem opened #1311 "RangeError: Maximum call stack size exceeded"
I'm not quite sure but i think this is a bug. please help!
**_Bug report_**

* [+] I've checked documentation and searched for existing issues
* [+] I've made sure my project is based on the latest MST version

**Sandbox link or minimal reproduction code**
[code]

[code]

**Describe the expected behavior**

Is sexpected that reference to SMS from document and form SMS to Document to be initiated!

[2019-06-06 15:30] Maaartinus commented on #1311
I'm afraid that what you did is basically equivalent to
[code]
i.e., an endless (mutual) recursion - unrelated to mst.

You create a new model with every call - that sounds wrong. Create it once and return the same model from your function (model is like a data type, not the data itself and each data type exists just once).

[2019-06-06 19:24] IgorEfrem commented on #1311
Oh. Thankyou. Tomorrow I will make a try).

[2019-06-06 19:25] IgorEfrem commented on #1311
Oh. Thankyou. Tomorrow I will make a try).

[2019-06-06 19:25] #1311 closed

[2019-06-07 05:23] rdewolff opened #1312 "Update todo example in codesandbox so it works with mobx-react v6"
The CodeSandBox version linked in the `README.MD` file is not working.

Cf. https://github.com/mobxjs/mobx-state-tree/blame/master/README.md#L57

[2019-06-08 20:40] FredyC commented on #1307
Yea looks like that 3.5.1 has broken more things. Specifically, I noticed when this sits in the same file as a model definition, the model turns out "any". It was working fine with TS 3.4. Moving that interface to different file works.

[code]

This will need some deep understanding of TypeScript changes which I am lacking. Linking release notes for a reference...

https://devblogs.microsoft.com/t

[2019-06-08 20:46] FredyC commented on #1312
I assume you mean this?

![image](https://user-images.githubusercontent.com/1096340/59152164-161bbc80-8a3f-11e9-8732-d7530c1ccf79.png)

Well, it should be fixed in that template for sure, not sure who has access to the team in there.

It's either about upgrading React to 16.8 or downgrading mobx-react to V5.

[2019-06-09 07:32] rdewolff commented on #1312
We could simply fork and update the address of the example sandbox.

[2019-06-09 07:59] FredyC commented on #1312
Sure, that's one path, but it would be nice to keep those examples under the common team in CodeSandbox.

@xaviergonz @k-g-a Any chance you have access there?

[2019-06-09 08:07] xaviergonz commented on #1312
I just fixed mobx-react to version 5, since the example uses views to create components and views expect functions, but the new observer implementation returns on object.

I'll leave this open though so the sample gets eventually fixed to use components not put inside views.

Also I gave you permissions to the codesandbox team @FredyC in case you might want to give a try at fixing it yourself (jus

[2019-06-09 08:10] xaviergonz commented on #1307
@FredyC that particular case (an empty model) might be related with this
https://github.com/mobxjs/mobx-state-tree/pull/1269

Does it do the same if the model has at least one required property?

[2019-06-09 08:13] xaviergonz commented on #1309
[code]

[2019-06-09 18:51] chobo2 commented on #1299
@xaviergonz

Ok when I see this error I will try to see if I see the arrow and see what it says.  No I have not tried the latest version as my understanding is that I am pretty much on the last version that supports IE 11 (and this is something I must support).

Even on the version I am now I had to polly fill everything.

[2019-06-10 19:45] OverseePublic commented on #1304
One another question. Why does this operation fail? When do we allow model creation without proper type checking and when do we force fail on prod mode? Should we fail but let the application proceed instead of hard stopping? Basically, i see a convuluted typechecking with fail stop. What is the reason behind this design? Any explanations are helpful! Thanks for your time

[2019-06-11 13:03] notbogdan opened #1313 "How should I approach React application structure/architecture?"
* [x] I've checked documentation and searched for existing issues
* [x] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

Coming from a Redux background, I really liked the [re-ducks](https://github.com/alexnm/re-ducks) setup where a single directory would contain all of the presentational/container components, unit tests, actions and reducers for a spe

[2019-06-11 15:00] bengry opened #1314 "Take a readonly array when possible"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**
[code]

**Describe the expected behavior**
The above code should compile

**Describe the observed beha

[2019-06-12 18:19] xaviergonz commented on #1314
I usually use this pattern in ts with enumerations
[code]

[2019-06-12 18:20] xaviergonz commented on #1314
But that being said, yeah, it should take a ReadonlyArray<T> to not leave old ts users out

[2019-06-13 07:48] homura opened #1316 "Typescript with the union and literal not work"
**Typescript with the union and literal not work**

* [x] I've checked documentation and searched for existing issues
* [ ] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

[code]

[code]

![image](https://user-images.githubusercontent.com/7511174/59414577-563ebe80-8df4-11e9-953e-1d7419138db5.png)

How could I make it work correctly？

[2019-06-13 09:28] homura commented on #1316
This possibly not an MST problem but Typescript, finally I manually specified the return type

[code]

[2019-06-13 09:28] #1316 closed

[2019-06-14 03:40] khomyakov42 opened #1317 "applySnapshot does not call preProcessSnapshot when using types.snapshotProcessor"
**_Bug report_**

* [v] I've checked documentation and searched for existing issues
* [v] I've made sure my project is based on the latest MST version
* [v] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**
https://codesandbox.io/embed/mobx-state-tree-todolist-1o4pm

**Describe the expected behavior**
applyS

[2019-06-14 20:39] ImBrek commented on #1180
Hi. I have a same problem. But I want to use onBecomeObserved to update a model field by websockets. The main problem is that websocket subscription is very heavy and I should make subscription only for visible models, and teardown subscription when user goes out. Is there any workaround to do it?

[2019-06-14 22:46] Maaartinus commented on #1180
@ImBrek I'm having a very similar problem (with polling instead of websockets, i.e., even more heavy) and I'm unsure if some magic would be better than a manual solution. Unless we get a better recommendation, I'll use my `useObserving(listOfModels)` hook. It's needed usually just once per page, so no big deal. Maybe a usable workaround for you?

[2019-06-15 19:18] andraz opened #1318 "Offload everything to web workers as MST at core is not an UI library"
**_Feature request_**

**Is your feature request related to a problem? Please describe.**

Our way of using the mobile resources is compatible only with the WealthyWesternWeb.

The number of users in emerging markets will soon balloon exponentially and outgrow the existing web population as internet-capable mobile devices get sold for under 20$ everywhere. This could happen as soon as the next 1 o

[2019-06-15 20:41] Bnaya commented on #1318
It's an super interesting topic,

The main issue with this kind of changes is the async nature of web workers compare to the sync-by-design nature of mobx.

Back at the time, i was thinking about async apply snapshot: #725
As MST is react but for state, we can use make similar mechanism to not block the UI while *some* of state update work is happening.
(React BTW are working on exposing a schedul

[2019-06-15 20:55] andraz commented on #1318
We can have multiple levels of web worker parent/child relationships:

1. top level: UI thread / React / observer
2. level: MST sync thread / observable (core can stay sync & nonblocking as it is not on the same worker as the UI thread)
3. level: MST async workers

The top level thread could have only UI updates passed from the MST main thread.

MST main thread could contain only the "glue" which

[2019-06-15 21:17] Bnaya commented on #1318
* If you don't handle updates priorities, and ability to "cancel" some on-going updates, you won't benefit much.

* you can't share js plain objects/arrays in memory between workers, so you will need to hold a copy of the data on each worker,
And to keep them sync, you will still need to apply almost the same action on all of the copies, that is expensive (If I'm not mistaken).

Sidenode:
I was pl

[2019-06-17 09:39] mweststrate commented on #1149
Recently, used the following utility successfully in a project:

[code]

It worked great (feel free to create a lib out of it). For example with the following (partial) machine definition:

[code]

It can be tested / used like this:

[code]

So the MST store wraps around the machine definition and interpreter. It has two big benefits: One, the state is serializable as it is stored as a frozen, sec

[2019-06-17 11:06] davidkpiano commented on #1149
I'd be glad to create a small `@xstate/mobx-state-tree` library.

[2019-06-17 19:45] andraz commented on #1149
Do one thing and do it well:
 **define the next legal state (of a variable) in relation to the current state (of the same variable)**.
This is a feature MST does not have, but would benefit greatly if it would have it.

My implementation of `MXST (mobx-xstate-state-tree)` in under 50 lines of code (+jsx demo lines).
https://codesandbox.io/s/mxst-mobxxstatestatetree-8nibz

We get an observable stri

[2019-06-18 20:59] saboteurspk commented on #1307
Probably has to do something with mobx-state-tree changes as well.
Version "mobx-state-tree": "3.10.2" works fine for me. If I upgrade to latest, the problems with .views (as described above) appears.

[2019-06-19 09:36] mweststrate commented on #1149
@davidkpiano that would be awesome! Make sure to ping me if you have questions around MST or need review and such

[2019-06-19 14:55] OverseePublic commented on #1304
Could @mweststrate perhaps help us understand? I need this to propagated to our very large team. We serve U.S federal level clients and we would like to know the reasoning behind it.

Michael, if you could also advise us in terms of enabling typechecking while leaving NODE_ENV=production it would be helpful. We are considering enabling typchecking in production. The documentation clearly states th

[2019-06-19 15:24] mweststrate commented on #1304
You can still force type checking at specific points (typically, the edges of your application) by calling `Type.is` or `Type.validate`, which gives all the validation errors, as done [here](https://github.com/mobxjs/mobx-state-tree/blob/5e7b9c7636e1d401e0694a5ad5aa2b83b1e54949/packages/mobx-state-tree/src/core/type/type.ts#L340-L342) (probably we should expose a utility). If you do that just befo

[2019-06-19 15:32] OverseePublic opened #1320 "MST 3 LTS"
**_Question_**
How long will MST3 will be supported for legacy browser?

* [x] I've checked documentation and searched for existing issues
* [ ] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

Our codebase is 100000+ lines and we would like to know how long MST3 will be supported. Will this be a LTS version for legacy browser? Does MST plan to ever de

[2019-06-19 16:22] OverseePublic commented on #1304
I think our goal is enabling typechecking on every `instantiation` and `update` is there a good way to enable that? I think it might actually decrease performance since it goes through typeCheck. I think you meant `edge` of application as the specific case of updating or creating mobx instances, but is it also possible to do typechecking all the time with NODE_ENV=production? And is it a recommend

[2019-06-19 17:01] Tucker-Eric opened #1321 ".is always returns false when used with snapshotProcessor"
The documentation leads me to believe that `types.snapshotProcessor` works similar to `types.compose` but using it that way causes `.is` to fail on the subtype as well as mutates the subtype to fail `myModel.is` without using the model returned from `snapshotProcessor`

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST vers

[2019-06-19 17:08] mweststrate commented on #1320
All the work in this project is voluntarily and can be used for free. Yet,
since nobody is really being paid to keep the lights on, I cannot offer you
any SLAs. But if longevity is important to you, which it seems with 100K
lines, it might be time long past due time to contribute back through the
open collective or helping out with maintenance :)
https://opencollective.com/mobx.

On Wed, Jun 19, 2

[2019-06-19 17:10] mweststrate commented on #1304
In principle there is no problem in doing so from MST side. but
NODE_ENV=production will have other unforeseen side effects, such as
unoptimized React, possible non-minified webpack etc. So it is probably
better to make this configurable in MST. A PR is welcome. (For example:
`configure({ enableTypeChecking: "always" })`)

On Wed, Jun 19, 2019 at 6:22 PM OverseePublic <notifications@github.com>
wr

[2019-06-19 17:13] mweststrate commented on #1320
That being said, there are currently no plans to no longer support MobX 4,
in other words, no plans to drop IE 11 support

On Wed, Jun 19, 2019 at 7:07 PM Michel Weststrate <mweststrate@gmail.com>
wrote:

[2019-06-19 17:23] xaviergonz commented on #1321
sounds like a bug indeed

[2019-06-19 19:47] evelant opened #1322 "Typing "self" when splitting actions into multiple files"
* [ X ] I've checked documentation and searched for existing issues
* [ X ] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

To better organize my code I'd like to put some action definitions in multiple files. An issue arises with typing "self" when doing this. For example:

File1.ts

[code]

File2.ts

[code]

I'm unable to provide the proper type for

[2019-06-20 01:36] dgeorgiev06 commented on #1208
this works for me in typescript:

accountStore: types.optional(AccountStoreModel, {} as typeof AccountStoreModel.Type),

note the "as typeof AccountStoreModel.Type" after {}

[2019-06-20 11:51] Amareis commented on #1282
Hey, what about external (not-from-tree) refs?

[2019-06-21 14:24] andraz commented on #1078
MST is pretty low level, try searching for companies which are using some package which uses MST:
https://github.com/mobxjs/mobx-state-tree/network/dependents?dependent_type=PACKAGE

[2019-06-25 10:02] alex-pol commented on #1322
+1
I have the same problem when I tried move actions and views to separated files.

[2019-06-26 20:31] FredyC commented on #1307
I finally got to preparing a proper reproduction of the issue I've mentioned above. Sadly, CodeSandbox is quirky as usual and actually works for some weird reason. Here goes the repo...

https://github.com/FredyC/mobx-state-tree-ts3.5

After some initial digging, it seems that the main culprit lies about the BaseModel. The TS 3.5 got more strict or what and does like such an approach. Unfortunatel

[2019-06-27 11:21] notbogdan opened #1324 "How should I edit undoManager history?"
**_Question_**

* [x] I've checked documentation and searched for existing issues
* [] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

Hi, we've encountered a use case in our application that requires us to be able to programatically remove items from the `UndoManager` middleware history. What would be the best way to go about doing this? We are curre

[2019-06-27 15:23] notbogdan commented on #1324
This is the solution we've come up with so far:
[code]

[2019-06-27 17:27] FredyC commented on #1307
Well, I got an [answer at SO](
![image](https://user-images.githubusercontent.com/1096340/60287100-6042e000-9911-11e9-9a98-2ce3687519cb.png) that has nudged me the right way, but something is definitely wonky here.

I am sorry, but I have to ping you here @mweststrate as it basically makes MST unusable with TS 3.5, so I wonder if have some insight here. The MST typing is really complex and I have

[2019-06-28 22:58] kresli commented on #1307
just create a new project and even very simple example doesn't work 😢
<img width="753" alt="image" src="https://user-images.githubusercontent.com/3826097/60375320-a2971a80-9a00-11e9-9172-e173dffa1cf6.png">

[2019-07-01 06:45] kresli commented on #1308
I think its related to #1307

[2019-07-01 18:25] nrakochy opened #1326 "What is the impact of undoManager.withoutUndo on the hook onSnapshot?"
**_Question_**

* [x ] I've checked documentation and searched for existing issues
* [x ] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3) --- [See question here](https://spectrum.chat/mobx-state-tree/general/what-is-the-impact-of-undomanager-withoutundo-on-the-hook-onsnapshot~a433376a-7220-43f2-b645-0fe861ae251d)

I would like to persist a payload when

[2019-07-01 22:12] nrakochy commented on #1326
I removed `onSnapshot` and will persist changes within specific methods

[2019-07-01 22:12] #1326 closed

[2019-07-04 07:16] mekwall opened #1330 "Typing getRoot doesn't work with TypeScript 3.5"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**

The following minimal repro works as expected with TS 3.4 but not 3.5.

[code]

**Describe the expect

[2019-07-08 17:46] PMExtra commented on #1208
I solved it after change the `tsconfig.json`. It worked!

[2019-07-09 19:48] taime opened #1331 "Observable Maps: .values().map is not a function"
**_Bug report_**
I follow the documentation here https://mobx.js.org/refguide/map.html

Here is part of my store:

[code]

In the component I'm trying to render this articles (use ES6 syntax as said in documentation) :
[code]

And get an error
**TypeError: articles.map is not a function**

If it's not a but, may be we should give the usage example in documentation?

P.S. I use the example of code

[2019-07-09 20:25] Maaartinus commented on #1331
You need no mobx to reproduce the problem:
[code]
AFAIK it's just like https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map/values, i.e., all you get is an `Iterable`. You can convert it to an array e.g. via the spread operator
[code]
or you can iterate it using `for (... of ...)`.

[2019-07-09 21:10] taime commented on #1331
@Maaartinus I got it. My bad (it works as you said)... Thank you for help!

[2019-07-09 21:10] #1331 closed

[2019-07-10 03:32] OverseePublic commented on #1304
I have created a PR below. I believe it needs work. I will work on your suggestion as a downstream.

https://github.com/mobxjs/mobx-state-tree/pull/1332

[2019-07-11 22:32] ConneXNL commented on #1307
It's been 13 days since the last activity in this issue...
Where to go from here @mweststrate  ?

Considering the complexity of MST's typing I don't think many people are capable to resolve this issue.

[2019-07-12 10:30] mweststrate commented on #1307
I am currently having holiday, so it will take a few weeks before I can dive into this. @xaviergonz might have ideas, or otherwise you'll have to stick to older TS version for a bit. I might not be able to take a look before half august

[2019-07-12 19:04] #1320 closed

[2019-07-12 19:04] OverseePublic commented on #1320
Thanks a lot Michael!

[2019-07-13 16:32] rdewolff opened #1338 "Reference get does not support async call"
Am currently working on some lazy loading examples, and I cannot find a way to use async call in custom references. This might be a bug or a lack of TS knowledge from my part.

Am wondering if you could have a look in this. Check the forked sandbox.

**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST versio

[2019-07-13 18:54] mweststrate commented on #1307
Ok, had a few hours to spare and upgraded TS, see #1339. As far as I can see no new problems where introuced. I tried reproducing the issue reported by @kresli, but it doesn't occur in our test. So please verify your compiler settings are the same (also added those to the docs now):

[code]

Will also verify the original issue reported by @ConneXNL

[2019-07-13 18:57] mweststrate commented on #1307
Side note: for TS specific issues I typically have some problem with codesandbox, as tsconfig doesn't seem to be properly picked up occasionally, and stackblitz seems to do a better job here...

[2019-07-13 19:03] mweststrate commented on #1307
@ConneXNL the definition of `ICustomExample` is incomplete, as it should be `<ICustomType extends ModelPrimitive | IAnyType>`. I think somehow TS didn't pick up on this before, where it should have. Anyway, `ModelPrimitive` is not exposed atm from the library, but #1307 fixes that as well, which should fix this issue.

[2019-07-13 19:11] #1321 closed

[2019-07-13 19:21] mweststrate commented on #1330
Should afaik be `return getRoot<Instance<typeof RootStore>>(self);

[2019-07-13 19:23] mweststrate commented on #1324
`self.withoutUndo` is indeed created for this purpose. Why don't you wrap that around the original action, where you don't want undo, rather than try to change the history afterwards?

[2019-07-13 19:38] mweststrate commented on #1338
References map identifiers to values directly. Since you try to load lazily, you don't have a value, so you can't "resolve" the identifier. Note that we can't really support async at that point either, as async is the red pill that affects all it's callees. E.g. `const myPerson = myModel.someRefToAsyncPurpose` would need an `await` to make `myPerson` meaningful. In other words `someRefToAsyncPurpo

[2019-07-13 19:54] mweststrate commented on #1318
I think it is a cool idea @andraz :)

However I don't think there is much value in keeping this open as an _issue_, until someone champions an actual implementation. Feel free to build something, and PR the docs with a reference to some extension, or PR middleware that takes care of this etc.

For now closing this issue until someone has an actual need and is willing to invest time in the solution

[2019-07-13 19:54] #1318 closed

[2019-07-13 19:55] mweststrate commented on #1308
@bryanstearns, please check your `tsconfig`. The compiler flags should be like:

[code]

[2019-07-13 19:56] mweststrate commented on #1308
(please note that sandbox might not pick up compiler flag changes from my experience, so best test it locally or on stackblitz)

[2019-07-13 19:59] mweststrate commented on #1313
This is not really a question for an issue tracker. But in general, in principle substores should be largely testable independently. As MST in itself is a completely fractal architecture. If you build logic yourself that depends on something that happens in a parent, then yes, like with any architecture, you are introducing coupling between child and parent. You are free to pick your own solution

[2019-07-13 19:59] #1313 closed

[2019-07-13 19:59] #1299 closed

[2019-07-13 20:01] FredyC commented on #1307
@mweststrate Any idea about my issue? https://github.com/FredyC/mobx-state-tree-ts3.5

Btw, `strict` option should be enough alone as it enables all others.

[2019-07-13 20:18] mweststrate commented on #1307
No, was there an issue open for that? Circular type refs are a big pain
point in MST + TS, I doubt we can solve it, but at least can take yet
another look :P.

On Sat, Jul 13, 2019 at 10:01 PM Daniel K. <notifications@github.com> wrote:

[2019-07-13 20:21] FredyC commented on #1307
@mweststrate Sorry, I kinda hijacked it here as it seemed a good idea to consolidate all TS 3.5 issues here.

Either way, the strangest thing is that circular reference you are talking about worked with 3.4. I wouldn't bother otherwise.

[2019-07-13 20:30] mweststrate commented on #1307
yeah it is a bit on and off story over the different TS versions (that
interface instead of type alias solution is a hack in itself already, which
quite randomly happened to work). If you would be so kind to open a
seperate issue with a link to that repro, I hope to find some time next
week to investigate more. As the original problem of this issue has a
solution and PR now, it's hopefully closed

[2019-07-13 20:43] FredyC opened #1341 "Circular type references with TS 3.5"
**_Bug report_**

**Sandbox link or minimal reproduction code**
https://github.com/FredyC/mobx-state-tree-ts3.5

**Describe the expected behavior**
I want to be able to use BaseModel that gives me a reference to the root model properly typed.

[code]

**Describe the observed behavior**
![image](https://user-images.githubusercontent.com/1096340/61176330-4666f580-a5bf-11e9-9dd9-0ffd165e44a8.png)

Th

[2019-07-14 17:56] Maaartinus opened #1342 "Wrong error message about missing value in MST create."
After upgrading all the packages, the below error occurs in vscode. I couldreproduce it in sandbox. Nonetheless the project compiles and runs.

The culprit might be mixing `mobx-react` and `mobx-react-lite`, but I'm about to switch to hooks, so I guess, I need them both ATM.

**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is base

[2019-07-15 05:11] mekwall commented on #1330
@mweststrate But it works just fine in TS 3.4 and it's the same as in https://github.com/mobxjs/mobx-state-tree/issues/951#issuecomment-408922911.

[2019-07-15 07:55] Amareis commented on #1142
Error displays wrong action path. There is should be `/.setData()` path (this is action at tree root, which is replace whole subtree).

Error: [mobx-state-tree] You are trying to read or write to an object that is no longer part of a state tree. (Object type: 'Chat', Path upon death: '/data/chats/items/4cd66e4b-09be-4c21-8153-1fa37f69758b', Subpath: 'id', Action: **'/data/chats/items/4cd66e4b-09be

[2019-07-15 11:13] mweststrate commented on #1342
The `strict` flag was not enabled in your `tsconfig`. MST requires the TS `strict` option to be set to work correctly.

[2019-07-15 11:23] mweststrate commented on #1341
The second error gives the hint here: trying to infer the type of `version` makes it endlessly circular for typescript. Adding a type annotation at this point solves the problem, as it breaks the dependency of needing to know the type of `system.version` to determine the type of `UserModel`, which in turn needs to be know to determine the type of `BaseModel` in the first place:

`get version(): st

[2019-07-15 12:06] FredyC commented on #1341
Well, that's not very nice :( I wonder why it worked with 3.4. Is 3.5 somehow stricter?

It's fairly inconvenient to by double typing things like that, kinda beats the reason for a typed model.

Do you possibly have some tips if something like that can be structured differently to avoid this problem?

[2019-07-15 12:53] mweststrate commented on #1341
Saying it beats the purpose is quite a strong way to express needing to do
a little more work than would be strictly necessary.

Actually, I think explicitly defining return types on functions is a good
practice anyway, as it protects your function body against implementation
errors (it makes the function signature the contract, instead of the
implementation). I think it is for that reason one of

[2019-07-15 14:55] ConneXNL commented on #1307
@mweststrate  Not sure if you meant do this, but you uncommented
 https://github.com/mobxjs/mobx-state-tree/blob/master/packages/mobx-state-tree/__tests__/core/type-system.test.ts#L1039

So yes, then the error goes away....

[2019-07-15 15:19] mweststrate commented on #1307
Oh, accidental commit, but it works as well if that line is enabled.

Op ma 15 jul. 2019 16:55 schreef ConneXNL <notifications@github.com>:

[2019-07-15 22:35] ConneXNL commented on #1307
@mweststrate Hmm, for me it does not. I also tried to clone mst but I am getting the same error in the tests:

![image](https://user-images.githubusercontent.com/971199/61253491-81a12a00-a761-11e9-8614-5f0ff4b4ef4a.png)

[2019-07-16 06:54] mweststrate commented on #1307
Ok, will check again!

Op di 16 jul. 2019 00:35 schreef ConneXNL <notifications@github.com>:

[2019-07-16 10:51] sisp opened #1343 "Generic type factory: property does not exist on type (TS 3.5 issue)"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version

**Sandbox link or minimal reproduction code**
The [sandbox](https://codesandbox.io/s/friendly-wind-c2xw2) does not show the error because I cannot select TS 3.5. Copy the content of `index.ts` into a TS 3.5 environment instead, e.g. VSCode.

**Desc

[2019-07-17 07:44] rdewolff commented on #1338
Thanks for your detailed answer @mweststrate. I have been trying since then to make this work on CodePen without success. Here is the closed I can get :

https://codesandbox.io/s/mobx-state-tree-lazy-loading-cache-transporter-promises-9tcxq

The cache `fetchedPeople` is not getting filled. I have tried by using volatile, I have tried to use an action in the callback, I have tried all the variants

[2019-07-17 09:07] kresli commented on #1307
@mweststrate adding `"strictNullChecks": true` solve basic types.optional issue for me. Stupid me, I forgot to check tsconfig :/ `strict: true` alone is not enough.

[2019-07-17 09:17] FredyC commented on #1307
@kresli That sounds strange, here is the snapshot from offic. docs...

![image](https://user-images.githubusercontent.com/1096340/61363484-5f53fd00-a884-11e9-94c6-b444b0649ff4.png)

[2019-07-17 09:22] kresli commented on #1307
@FredyC yes you right, I double checked it and either `strict: true` or `strictNullCheck: true` works.

[2019-07-17 09:29] rdewolff commented on #1338
Am making progress by extracting the codesandbox project in a native react app on my computer. The error messages are now displayed and am making progress. Gimme some time to dig in it and I'll get back, hopefully with a solution and an example for the community :)

[2019-07-17 10:03] rdewolff commented on #1338
Here is fixed and working version 🎉

https://codesandbox.io/s/mobx-state-tree-lazy-loading-cache-transporter-promises-9tcxq

[2019-07-17 10:04] rdewolff commented on #1338
What would be the best way to store this as a reference to new users?
Any other way to improve this example?
We could clean this up in an example and include this proper lazy loading in the docs ?

[2019-07-17 14:47] notbogdan commented on #1324
I'll try my best to describe the issue we faced with this hypothetical:
Imagine we have a top level store, ParentStore. This is where the undoManager is set.

This store has 2 child stores, ChildA and ChildB.

ChildA can exist without ChildB being defined. However ChildB has dependencies on ChildA.

Whenever ChildA is deleted, we also delete ChildB - this action is wrapped in a `withoutUndo` metho

[2019-07-17 15:31] sisp opened #1344 "How to create a typesafe back-reference?"
**_Question_**

* [x] I've checked documentation and searched for existing issues
* [ ] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

I have the following scenario: `B` has a reference to `A` and I'd like to create a back-reference so that `A` knows by which `B` it is being referenced. I've created a [sandbox](https://codesandbox.io/s/youthful-leftp

[2019-07-17 20:59] nspaeth commented on #1282
If this fixes #1284, it would dramatically simplify some complex models I have.

Are we currently awaiting a decision, or for someone to volunteer to implement?

[2019-07-19 10:02] andraz opened #1345 "Dynamic table of objects with a foolproof API"
live example: https://codesandbox.io/s/mobx-state-tree-map-reference-pattern-7l0um

I am trying to polish and simplify this pattern as much as possible to not lose juniors completely when onboarding.

`stores.map` is a map of sub-stores (the "table" of objects)

`stores.active` is the currently active sub-store from map
* in SQL terms === `cursor`
* in DOM terms === `:focus`

Point of this pattern

[2019-07-19 10:05] ConneXNL commented on #799
Isn't this just a bug?

[2019-07-19 14:11] mweststrate commented on #1344
You can declare the actions block as `.actions((self: IB) => ({`

[2019-07-19 14:21] mweststrate commented on #1344
Never mind, that makes it `any`. In that case I recommend to upcast `self as IB` in the implementation.

[2019-07-19 14:31] mweststrate commented on #1343
Seems to be fixed by #1346 as well

[2019-07-19 14:32] #1342 closed

[2019-07-19 14:32] #1341 closed

[2019-07-19 14:36] mweststrate commented on #1330
Not sure why it changed in 3.5 (or why it _succeeded_ in 3.4), but can confirm that breaking the circular type with an interface fixes the problem:

[code]

[2019-07-19 19:15] mweststrate commented on #1282
I think it would be great if @xaviergonz suggestion was implemented:

[code]

[2019-07-19 19:16] mweststrate commented on #1282
@Amareis those can already be implemented using custom refs.

[2019-07-19 19:17] #1307 closed

[2019-07-19 19:23] mweststrate commented on #1345
The general pattern should work fine, and is exactly what references are for. Note that one of your views contain side effects, I would be careful with that.

[2019-07-19 19:39] mweststrate commented on #1236
Released as 3.14.1

[2019-07-19 19:39] mweststrate commented on #1307
Released as 3.14.1

[2019-07-19 19:40] mweststrate commented on #1304
Released #1337 in 3.14.1

[2019-07-19 19:40] #1304 closed

[2019-07-19 19:40] mweststrate commented on #1343
Should be solved in 3.14.1

[2019-07-19 19:40] #1343 closed

[2019-07-19 19:41] mweststrate commented on #1330
Should work with the above setup in 3.14.1

[2019-07-19 19:41] #1330 closed

[2019-07-19 19:44] mweststrate commented on #1322
In your case, you can break the type in two (this works exactly the same technically), and grab the type of the partial type:

File 1
[code]

File 2
[code]

See also the readme section: https://github.com/mobxjs/mobx-state-tree#typing-self-in-actions-and-views

[2019-07-20 10:45] sisp commented on #1344
Okay, that works. Thanks for the suggestion.

[2019-07-20 10:45] #1344 closed

[2019-07-22 13:12] k-g-a commented on #1267
@mweststrate I'd like to draw your attention to this RFC as you've been showing decent activity in this repo lately :)
We're heavily using MST for our new project. For now memory/cpu loads are quite OK for us, but the amount of data will heavily increase in future, so I'd love to spend some time in optimizing MST around september-october.

[2019-07-22 14:02] sisp opened #1348 "Type 'ModelInstanceTypeProps' has no properties in common with type 'IAnyStateTreeNode'"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**

I believe #1346 has introduced a new bug with TS: https://codesandbox.io/s/objective-cdn-qdtpt

**Des

[2019-07-23 07:06] k-g-a opened #1349 "ModelType.name check seems too strict"
**_Question_**

* [x] I've checked documentation and searched for existing issues
* [ ] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

There is a suspicious check for model name at ModelType:
[code]

We're trying to use scoped model names, i.e. ```MyModel@82d92470-d05e-4dab-92cc-25b45f7fa2e4```, which do not pass the check mentioned above, but is val

[2019-07-24 17:00] xaviergonz commented on #1349
if the tests pass I don't see why not

[2019-07-24 17:31] xaviergonz commented on #1348
thanks, a pr has been created to fix this issue

[2019-07-24 17:32] sisp commented on #1348
Much appreciated, thanks.

[2019-07-25 08:01] rgehan opened #1354 "`applySnapshot` seems to preprocess the snapshot twice"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**
https://codesandbox.io/s/flamboyant-fire-4qoxr

**Describe the expected behavior**
I have a model with

[2019-07-25 10:04] mweststrate commented on #1267
@k-g-a I think it is a really good idea. Especially because we can introduce it gradually by introducing as experimental type first as you suggested.

As far as I know the typings should indeed be no problem thanks to `ThisType`, I used that in similar situations in the past as well. In fact, this might be a little bit better resilient against self-referring types in TS, which are a pain now (not

[2019-07-25 12:33] k-g-a commented on #1282
While impelmenting stuff described in #1355 I thought of adding special types `referenceArray`/`referenceMap`.

Just a basic API overview:
[code]

The `mode` parameter will enforce one of the following behaviours:
1) 'standalone' is basically the same as `type.array(type.reference(SubType))` - no custom add/delete handling
2) 'safe' is basically the same as `type.array(type.safeReference(SubType))

[2019-07-25 12:38] k-g-a commented on #1282
Even simpler API: ```types.arrayReference((self) => self.items, 'sync')```  - by having `self` we can always reference own tree's parts, but are free to get anything we want (as the last example in my previous comment), even ```types.arrayReference((self) => getEnv(self).someOtherInjectedStore.items, 'sync')``` for those who prefer DI over direct imports

[2019-07-25 14:28] mweststrate commented on #1282
I really love the idea @k-g-a, especially having designated types for collections of references could greatly simplify stuff.

I think synced deletes should be the default (and non configurable ?)

Overal I think we might have designed references too transparent, I think in future improvements we should maintain explicit reference objects with an explicit api, so that we can introduce all the util

[2019-07-26 16:55] #1348 closed

[2019-07-26 16:56] #1349 closed

[2019-07-26 21:11] Maaartinus opened #1356 "Why do I need the snapshot when composing trees?"
Not sure, if this is a bug or just a misunderstanding.

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] Sandbox: https://codesandbox.io/embed/why-the-snapshot-1f8s3

**Describe the expected behavior**
I'd expect that I could create a new Root via
[code]

**Describe the observed behavior**
... but instead I n

[2019-07-27 07:27] rdewolff opened #1357 "JSDoc"
**_Question_**

* [x] I've checked documentation and searched for existing issues
* [x] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

Is there any way to generate mobx state tree models in JSDoc generation? Has anyone used this already ? Or is the only solution using something like classy-mst [1] to write MST Classes and actions and get JSDoc to gen

[2019-07-30 14:48] Davidhidalgo commented on #887
This is absolutely necessary for offline capabilities. I'll follow this thread closely and I'll try to come up with ideas. The approach of @broncha seems interesting.

[2019-07-31 08:38] VitamineC opened #1358 "Problems onAction with async(flow) function"
**_Feature request_**

**Is your feature request related to a problem? Please describe.**
I try to use onAction for work with side effects.  I'm having a problem, when I try to detected the success end of async action.
I see "finish" action, that pushed after end of async, but if I have few started async action it's no simple way to detect which one is over.

![image](https://user-images.githubuse

[2019-08-02 13:16] pravinbashyal opened #1359 "typed environment at model creation"
**_Feature request_**

**Is your feature request related to a problem? Please describe.**

When I have to instantiate a model with env, I have to define the interface for the env at the point of instantiation. Take the following code for example
[code]

**Describe the solution you'd like**

Extend `types.model<T>` to accomodate optional dependencies `types.model<T, DependenciesInterface?>` so the

[2019-08-04 12:00] creativefctr commented on #159
@mweststrate what happened at last? I still can not get it to work

[2019-08-05 20:22] mweststrate commented on #159
@creativefctr It is hard remember details from what happened a year ago when merging hundreds of PRs per year :). If you run into trouble, just open a new issue and someone will look into it.

[2019-08-05 20:22] mweststrate commented on #159
Make that 2 years :-P

[2019-08-05 20:41] mweststrate commented on #1356
Your sandbox doesn't work for me, so not sure what you mean by "I need". Do you need to fix a compile error or a runtime error?

If you are getting a compile error here, you might want to check out `cast`. But as far as MST is concerned, both patterns are valid. TS however might not be able to handle both pattern, so, in some cases it might give false negatives. Because the MST type system is more

[2019-08-05 20:42] mweststrate commented on #1357
Afaik there is nothing for it.

[2019-08-05 20:44] mweststrate commented on #1358
Instead of `onAction`, use the more low level `addMiddleware` function, which reveals more details. You might also look into `onAction`'s implementation itself to get some inspiration in that direction.

[2019-08-05 20:47] mweststrate commented on #1359
I played shortly with that idea in the past, but it makes the already troublesome dealing of TS with circular types even more horrendous. Instead, I suggest to use `getEnv<Interface>()` in your implementation. If you get tired of repeating that, just make a utility function / view for that, so that you have to do it only once. (Some people create their own models for this, and compose these views

[2019-08-07 03:55] Maaartinus opened #1361 "Support for LoadingCache-like Map"
**_Question_**

* [x] I've checked documentation and searched for existing issues
* [x] I tried the [spectrum channel](https://spectrum.chat/mobx-state-tree/general/using-a-map-with-automatically-created-entries~e78f14ca-9041-4f0e-884b-cf83e2692cc2), but nobody's home.

I need a map, which on get for an absent key creates, returns and stores a new value. A sort of a loading cache. What I mean: A s

[2019-08-07 13:42] Maaartinus commented on #1356
Sorry, I've reused my sandbox for another problem and mixed things up. I'm going to re-read the readme and I guess, `cast` is what I  need; otherwise I'll reopen.

[2019-08-07 13:42] #1356 closed

[2019-08-08 10:29] pixelkritzel commented on #348
@mwestrate I have an idea. You wrote this library immer.js and obviously you use something similar in MST to guarantee immutability. Wouldn't it be possible to utilise this for preProcessSnapshot?

[2019-08-08 18:28] pixelkritzel opened #1362 "TS-Bug: computed property is after spread-oeprator-copy part of the copys type"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**
https://codesandbox.io/s/wizardly-hill-6esmm?fontsize=14&module=%2Fsrc%2Findex.ts

**Describe the expe

[2019-08-10 05:30] osmannassar2019 opened #1363 "How I can use React Hook & Context API with MobX-State-Tree"
How I can use React Hook & Context API with MobX-State-Tree

I am using React Functional Component. So, I need to use React Hook (useContext()) to get all action from the store.

Please help me

Thanks

[2019-08-11 18:03] holgersindbaek commented on #1361
I'd love to see a solution for this as well.

[2019-08-12 05:07] terrysahaidak commented on #1363
Here is a basic example of `useMst` hook I've built:

[code]

[2019-08-12 20:03] osmannassar2019 commented on #1363
Dear terrysahaidak
Thanks for your reply. this is a good example and this will guide me in my projects
Thanks again
Best Regards

[2019-08-12 23:54] Maaartinus commented on #1361
@holgersindbaek I'm using both `setTimeout` (so that the key eventually gets a part of the tree) and `volatile` (so the entry can be found immediately). In the delayed function I move all entries from my volatile map to the main one.

What doesn't work is calling `getRoot` in the meantime, but that's something I can avoid for now.

It's a pretty ugly workaround, complicated and far from perfect.

[2019-08-13 00:22] Maaartinus opened #1364 "Eager and lazy creation of stores"
**_Question_**

* [x] I've checked documentation and searched for existing issues
* [x] I tried the spectrum channel, but *won't do it ever again, as it's mostly dead,* at least in summer.

[The original question](https://spectrum.chat/mobx-state-tree/general/eager-and-lazy-creation-of-stores~d8a27adc-3a21-4bfc-8b7c-4ca10893ede9)

---

Currently, I'm having just a few tens of stores and I'm creati

[2019-08-13 12:48] holgersindbaek commented on #1361
@Maaartinus From where do you call `setTimeout`? I'm trying to call it from my mobx-state-tree view, but I'm getting an error.

[2019-08-13 14:59] Maaartinus commented on #1361
@holgersindbaek

Do be that shy and tell us which one. ;)

I have something like
[code]
The important part is letting an action do the change (assuming we're speaking about the same error).

[2019-08-13 15:09] holgersindbaek commented on #1361
I think we're speaking about the same error. It's something akin to yours:
`[mobx] Computed values are not allowed to cause side effects by changing observables that are already being observed. Tried to modify: ObservableMap@26.keys()`.

The above makes sense. And then something like this in the `putEntry`:

`putLog(logID, log) {
      self.logs.set(logID, log)
      self.cachedLogs.delete(logID)

[2019-08-13 22:21] Maaartinus commented on #1361
@holgersindbaek Actually, I *move* *everything* from the "cachedLogs" into "logs" in the action as it's a bit simpler and less error-prone.

I guess, the best solution would be an option to *temporarily* disable the error. Maybe
[code]

[2019-08-13 22:23] holgersindbaek commented on #1361
What do you mean by "move"? Could you give an example?

[2019-08-13 22:26] Maaartinus commented on #1361
@holgersindbaek You *moved* a single element (set and delete), I move them all (set in a loop and clear), that's all.

[2019-08-13 22:28] holgersindbaek commented on #1361
Hmm, ok. Thanks. Funny how you can run into the same problem (almost) at the same time :-).

[2019-08-14 13:11] foxhound87 opened #1365 "Modification exception: the internal structure of an observable array was changed"
After updating mobx from version 4 to 5, I get this error when using lodash `pull` on an array.
The array is a property of a MST model.

[code]

https://codesandbox.io/s/2074-mobx-exception-y84iu

[2019-08-14 18:01] Bnaya commented on #1364
Why do you want to do lazy creation?
There are other patterns, that maybe will give you the desired effect.

[2019-08-15 00:54] Maaartinus commented on #1364
@Bnaya

- Avoid spending time in initialization. AFAIK MST is a bit slow and there will be tons of pages, each one having its simple store and this may probably add up.
- Avoid spending memory. While every page (before really used) needs just a little, there's no point in wasting it.
- Avoid future problems, I don't know yet about.

---

Could you give me some examples?

---

I may be wrong with m

[2019-08-15 13:38] oleghind opened #1366 "Need a function to read a default value of a property"
**_Feature request_**
Would like to have a function to get the default value of a property
**Is your feature request related to a problem? Please describe.**

Trying to omit default values in the snapshot.

**Describe the solution you'd like**
Would be great to have something like
MyModel.properties[key].getDefaultValue() so I can do it in postProcessSnapshot without having to access private prope

[2019-08-15 15:57] lorefnon opened #1367 "Calling .props on a type that has .preProcessSnapshot doesn't update its snapshot type"
**_Bug report_**

* [X] I've checked documentation and searched for existing issues
* [X] I've made sure my project is based on the latest MST version

**minimal reproduction code**

[code]

**Describe the expected behavior**

Code should compile

**Describe the observed behavior**

The last line fails with following error:

[code]

If I inspect the type of `SnapshotIn<typeof T$2>` I see the follo

[2019-08-16 07:16] jayarjo opened #1368 "Lifecycle hook that runs after snapshot is applied"
**_Feature request_**

**Is your feature request related to a problem? Please describe.**

Consider typical scenario - snapshot of the tree is stored in localStorage and retrieved on load, snapshot is applied to the tree and then application requires to do some updates to certain nodes of the tree. Logical way would be to do this in a hook of some kind that runs _after_ snapshot is applied. One co

[2019-08-16 07:17] jayarjo commented on #1368
There was a related issue: https://github.com/mobxjs/mobx-state-tree/issues/414, but it was closed. However the workaround that is suggested there, doesn't apply to the scenario I've described above.

[2019-08-16 07:26] jayarjo commented on #1368
Ehm... forget it `afterCreate` suits perfectly, just had to wrap it in `flow`.

[2019-08-16 07:26] #1368 closed

[2019-08-16 11:02] swayf opened #1369 "getType ignore types.reginement"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
may be somehow dependent on https://github.com/mobxjs/mobx-state-tree/issues/1114 ?
* [x] I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**

https://codesandb

[2019-08-16 20:33] mweststrate commented on #348
I see how this is an encouragement, but that doesn't necessary make it an idea ;-). Feel free to make your idea more tangible, but please do so in a new issue as this one was closed almost 2 years ago :)

[2019-08-16 23:21] Ghirigoro commented on #586
@mattiamanzati: The problem with scoped booleans is that it will ignore any patches that are generated as a side effect of applying the patch (e.g. applying the patch causes a component to unmount, which in turn saves some state and thus generates another patch as a side effect of the first one).

I'm currently working on a project that synchronizes state across multiple devices (similar set of co

[2019-08-18 16:51] nosachamos commented on #1276
This would be very useful right about now. I got a situation where I may have models with many properties (Generated at runtime), and want to implement one at a time. It would great if I could send these as partial snapshots, so that those I submit would be updated in the model and the remaining keys would stay unchanged.

[2019-08-18 17:37] Bnaya commented on #1364
I don't have direct answer for you,
But what i did (And not for perf reasons), is to have one types.union of the possible pages models,
and to have one activePageModel or so one the app model.

[2019-08-18 22:48] farwayer commented on #592
Hi! I just released the [mst-decorators](https://www.npmjs.com/package/mst-decorators) library to define class-based models. I used this library for 1.5 years for dozens of projects but it may still contain some bugs. And there is no TS defs yet. Feel free to open issues/PRs.

Some features:
- simple syntax without need to use extra helpers etc, just decorators
- es6 extending
- access to instance

[2019-08-18 22:48] farwayer commented on #487
Hi! I just released the [mst-decorators](https://www.npmjs.com/package/mst-decorators) library to define class-based models. I used this library for 1.5 years for dozens of projects but it may still contain some bugs. And there is no TS defs yet. Feel free to open issues/PRs.

Some features:
- simple syntax without need to use extra helpers etc, just decorators
- es6 extending
- access to instance

[2019-08-18 22:49] farwayer commented on #312
Hi! I just released the [mst-decorators](https://www.npmjs.com/package/mst-decorators) library to define class-based models. I used this library for 1.5 years for dozens of projects but it may still contain some bugs. And there is no TS defs yet. Feel free to open issues/PRs.

Some features:
- simple syntax without need to use extra helpers etc, just decorators
- es6 extending
- access to instance

[2019-08-18 22:49] farwayer commented on #338
Hi! I just released the [mst-decorators](https://www.npmjs.com/package/mst-decorators) library to define class-based models. I used this library for 1.5 years for dozens of projects but it may still contain some bugs. And there is no TS defs yet. Feel free to open issues/PRs.

Some features:
- simple syntax without need to use extra helpers etc, just decorators
- es6 extending
- access to instance

[2019-08-18 22:49] farwayer commented on #401
Hi! I just released the [mst-decorators](https://www.npmjs.com/package/mst-decorators) library to define class-based models. I used this library for 1.5 years for dozens of projects but it may still contain some bugs. And there is no TS defs yet. Feel free to open issues/PRs.

Some features:
- simple syntax without need to use extra helpers etc, just decorators
- es6 extending
- access to instance

[2019-08-19 13:26] jayarjo commented on #487
Huh... I actually like it!

I wonder if one can get away without `@flow`. Is it possible to differentiate in `@action` decorator itself whether it's a regular function or generator?

[2019-08-19 13:59] jayarjo commented on #487
@mweststrate @mattiamanzati syntax is holding back many people from MST (I know from personal experience). Maybe you should consider something like this after all.

[2019-08-19 14:00] #487 closed

[2019-08-19 15:10] Ghirigoro commented on #1300
I'm having the same problem and mentioned it on a closed issue (https://github.com/mobxjs/mobx-state-tree/issues/586#issuecomment-522179484).

Maybe I'm misunderstanding the issue, but wouldn't this be solved by having applyPatch/Action *not* call onPatch/Action? Having ids for actions/patches would help but still require users to actively manage the filtering.

[2019-08-20 08:39] mweststrate commented on #487
The syntax looks great. However, we've very deliberately avoided decorators in MST, because with MobX it caused lots and lots of troubles, due to the lack of standardization (e.g. the TS implementation is very different from the babel one). So until decorators are standardized (the chances of that have been reduced in last two years, rather than increased), I would be very hesitant to base anythin

[2019-08-20 09:58] jayarjo commented on #487
Maybe there should be two versions then - one for Babel, another for TS, sharing the syntax as much as possible. They can be separate libs for now, like `mst-decorators` (at least until they mature enough to become solid, compatible and reliable), but I think it must be somehow clear (maybe a link in the readme) that MST is eager to move in that direction and is actively curating related projects,

[2019-08-20 20:04] chriszwickerocteris opened #1371 "Typescript: Type of Action Parameter in Union"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version (checked with `3.14.1`)
* [x] <del>Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or</del> another minimal reproduction.

Also, I've asked this as a [question](https://stackoverflow.com/q/57509041/7159043) on stackoverflow.

**Sandbox

[2019-08-20 23:59] farwayer commented on #487
@jayarjo yes it is possible and will be in new version. Wait a bit ;)

@mweststrate `@bool unread = true` is quite tricky you are right but is not big deal. Bigger problem is class decorator [can't modify type declaration](https://github.com/microsoft/TypeScript/issues/4881). So syntax
[code]
will throw compilation error in TS. However as workaround it is possible to do:
[code]
[code]

[2019-08-21 01:30] farwayer commented on #487
And small announcement :)
[code]

[2019-08-21 07:19] eaTong opened #1372 "mst-example-bookshop can't update detail item it self"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [ ] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**

**Describe the expected behavior**
I have added a button in component CartEntry of project **mst-exam

[2019-08-21 07:21] eaTong commented on #1372
I had cloned the project mobx-state-tree  and run the demo "mst-example-bookshop" , and add the button 'add one' , it dose not change the value immediately.

[2019-08-21 20:56] evelant opened #1373 "Typescript: Invalid or missing properties allowed in some cases of SnapshotIn"
**_Bug report_**

* [x ] I've checked documentation and searched for existing issues
* [x ] I've made sure my project is based on the latest MST version
* [x ] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**
https://codesandbox.io/s/peaceful-greider-2kpsn

**Describe the expected behavior**
SnapshotIn shou

[2019-08-22 19:35] jayarjo commented on #867
Ehm... since this went nowhere. Lets maybe revive the original idea and this draft: https://github.com/mobxjs/mobx-state-tree/commit/1dfe7f4d691b2febe7d9c1fc5ff52157d22d39e2?

[2019-08-22 21:04] Bnaya commented on #1282
What prevents us to implement references as an external library?
All the things around creating and accessing the global registry of models of a type?
Maybe MST can expose these lower level apis
And let developers have their own flavour, and give the maintainers more freedom with breaking changes.

[2019-08-24 14:14] Maaartinus commented on #1364
@Bnaya That's an interesting idea, but I'd like to keep a page model after switching to another page because of the used filters and sorting and other such stuff. I'm not sure about that, I guess, there'll be users wanting these settings to be reset every time and others wanting them to be persistent across sessions. So I'll probably give your approach a try.

[2019-08-24 14:38] Maaartinus opened #1374 "AfterRoot"
**_Feature request_**

There are `afterCreate` and `afterAttach` functions. The latter is needed so that you can use `getParent`, but there's nothing allowing you to use `getRoot` and to get the "real root" you expect.

Obviously, there's no "real root" in MST as the current root may be later attached to another node. But for the user, there's a concept of "real root", so they can tell MST how to

[2019-08-24 23:12] Bnaya commented on #1364
You can save / restore snapshot of the model outside of the tree on onCreate / onDestroy

[2019-08-27 08:53] nulladdict opened #1378 "[TypeScript 3.6+] flow() | Inferred Generator type is not assignable to IterableIterator"
**_Feature request_**

**Is your feature request related to a problem? Please describe.**
Prior to TS 3.6 `flow()` yield return types would be typed as `any` due to typescript limitations. Those limitations are being addressed in TS 3.6 release as described [in this iteration plan](https://github.com/microsoft/TypeScript/issues/31639)

**Describe the solution you'd like**
Full support for yield re

[2019-08-27 12:19] vitalymatyushik opened #1379 "Is it possible to specify interface of snapshot but work with real prop type in MST methods"
**_Question_**

* [x] I've checked documentation and searched for existing issues
* [x] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

Is it possible somehow to keep MST-model in sync with Json-interface and implementation of fields in MST model description?
To be precise how it is possible to avoid casting in `setFirstChildName` method
[code]

[2019-08-27 19:01] lorefnon commented on #1379
You can use the [SnapshotIn and SnapshotOut types](https://github.com/mobxjs/mobx-state-tree/blob/d687833fd13d7b068e2792213a2c6296781775a6/packages/mobx-state-tree/src/core/type/type.ts#L229-L245).

[2019-08-28 02:46] eaTong commented on #1372
This is not a bug for mst . I will close this.That's because of I didn't use observer in child component.

[2019-08-28 02:46] #1372 closed

[2019-08-29 02:32] RichiCoder1 commented on #1378
With some guidance I'd be interested in this. I believe this is a Mobx issue that MST inherits though?

[2019-08-29 02:40] RichiCoder1 commented on #1378
Added issue in the mobx repo: https://github.com/mobxjs/mobx/issues/2091

[2019-08-31 12:32] Carduelis commented on #824
I found this the evilest thing in mst. I think the maintainers every time giggles when you use `flow` from `mobx` instead `flow` from `mobx-state-tree`.

[2019-09-02 06:14] Bkucera commented on #1330
I was using the views `get root()` approach, however with multiple `ChildStore` models, typescript will start to get flaky when resolving circular references. Everything would be fine, then I would reload VSCode and my `RootStore` would be `any` typed again, giving me an error.

I got it to work consistently by writing out interfaces for each of my `ChildStore` models as well, then creating an `IR

[2019-09-02 14:23] farwayer commented on #487
Hey @jayarjo I just published mst-decorators v2. There is no need to declare actions and flows any more. And I added basic TS definitions. I'm not TS guru so I will be happy if anybody have some time to make it more correct.

[2019-09-03 06:54] fruitraccoon commented on #1378
I see that the linked mobx issue mentioned above has been closed as the TS typing was deemed not powerful enough.  However, I get compile errors when attempting to use TS 3.6.2 with MST flow because of the new types.

The code below shows me a typescript error (sorry, I couldn't find anywhere online to create a demo):

[code]

The error itself is:
[code]

The best workaround that I've found looks

[2019-09-03 07:23] nulladdict commented on #1378
Upon further research, new TS typings are indeed not flexible enough to provide strongly typed `next()`, since it would require to define relationships between `yield`'ed invocations, which is not possible (at least as of yet).

However, as @fruitraccoon mentioned we now get compile errors, since the new inferred `Generator<…>` type is not assignable to `IterableIterator<…>`, because of the abilit

[2019-09-03 16:17] elektronik2k5 commented on #1378
Thanks for looking into it @nulladdict!
I'm getting the same errors and see two ways to proceed with TS@3.6 compatibility:

1. A simple breaking change (I'd assume semver major) which requires TS@3.6
1. Doing the same fix, but instead of mandating a breaking change utilize [TS@3.1's `typesVersions` property](https://www.typescriptlang.org/docs/handbook/release-notes/typescript-3-1.html#version-sel

[2019-09-05 15:12] souiukoto opened #1388 "Imported MST Model throwing this.parent.getEscapedPath is not a function when action is called."
**this.parent.getEscapedPath is not a function**

* [x] I've checked documentation and searched for existing issues
* [x] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

I am trying to create a private NPM module with some stores to be used by two separate web applications. All the tests are passing for the store in question, but when it is imported a

[2019-09-11 06:54] JonasGroenbek opened #1389 "Observe values inside HOC's?"
**_Question_**

* [x] I've checked documentation and searched for existing issues
* [ ] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

I want to rerender my navigation bar based on the users role in my react-native application. I am using react-navigations HOC ``createBottomTabNavigator``. I am unable to pass anything down from the top-level containe

[2019-09-11 07:27] terrysahaidak commented on #1389
createBottomTabNavigator isn't a HOC. It's just a function which will create a tab navigator for you. You can't call it twice nor change somehow it. It's a known limitation of the current version of react-navigation:
https://reactnavigation.org/docs/en/limitations.html#dynamic-routes

As a workaround, you can define several bottom navigators and navigate the user to a specific one when you want to

[2019-09-11 07:29] JonasGroenbek commented on #1389
Woulf you not call it a HOC since it takes stacknavigators?
Thanks for your answer, ill look inti it

[2019-09-11 18:49] rbuels commented on #1050
Why is a warning needed in this case in the first place? It seems obvious to me that an onAction listener will only emit for the subtree it's attached to.

[2019-09-13 12:47] loganpowell commented on #1149
Just came upon this throwing a hail mary at google. This seems like a match made in heaven. It seems to me that xstate/FSM would serve as a way to conditionalize/contextualize MSTs, but if you're considering creating a dedicated integration, that would be far better than rolling my own!

[2019-09-13 13:06] davidkpiano commented on #1149
@loganpowell I haven't started on this quite yet (ironically I've been working on other stuff like `@xstate/immer`) but if you want to collaborate, I can get it set up in the XState repo!

[2019-09-13 13:50] mattruby commented on #1149
I agree!  I feel like MST as the context.  Have the actions automatically wired up.  The ability to easily use views as guards.  Possibly have the `state` as a types.custom.

We have a pretty great integration in place right now, but I still think there's a great opportunity here.  It's hard to determine where MST ends and xstate begins.

[2019-09-13 14:27] loganpowell commented on #1149
@mattruby can you share an example or your current work?

[2019-09-13 14:34] andraz commented on #1149
I've used my implementation few comments above in a recent project while also onboarding the coworker to all of the principles behind XState and MobX and digged in many refactorings to simplify it as much as possible.

The trick is in the fact you can make XState practically invisible (and less scary) to the outside, you just create a root model with:

- the `{ machine: MSTMachine }` as a type in

[2019-09-13 14:44] mattruby commented on #1149
I'm pretty much using Michel's impl: https://github.com/mobxjs/mobx-state-tree/issues/1149#issuecomment-502611422

We've tweaked it a little.  But that's the core.

[2019-09-13 14:51] AndrewMorsillo commented on #1201
What I'm doing for async is this:

[code]

Then I can make any action async, all I have to do is wrap any modifications to the store in `await self.runInAction("loggingName", () => { self.foo = "bar" })`

This is far easier for me than trying to deal with flow and generators which I could never make TS behave well with.

[2019-09-13 14:59] mweststrate commented on #1201
Yep, should work fine. But note that middleware that supports / reasons
about asynchronous actions won't be able to process this pattern correctly.
(probably no problem in most code bases)

On Fri, Sep 13, 2019 at 4:51 PM amorsillo <notifications@github.com> wrote:

[2019-09-13 15:29] loganpowell commented on #1149
@davidkpiano when you say:

How do you check for immutability? I.e., is this a hard requirement (enforced), would returning a POJO break everything or both?

[2019-09-13 15:48] davidkpiano commented on #1149
XState doesn't check for immutability, but it's just a best practice. Mutating context can break in unpredictable ways though (as with any mutation); e.g....

[code]

If you do `assign(ctx => ctx.count++)` in the `firstMachine`, then the context object of the `secondMachine` is also mutated.

I'm thinking of an API that may solve this though, via "late binding":

[code]

[2019-09-13 17:07] andraz commented on #1149
Solution is to define a map of machines:

[code]

Then link callbacks:

[code]

And render their values:

[code]
Done.

How much of this could be automated is to be discussed. It would be great if all getters and click handlers could generate themselves "automagically", because it is just copy paste boilerplate code...

----
**Keep it simple.**

State.value should be a scalar, not some complex con

[2019-09-13 21:32] Stanley-Jovel commented on #788
What's the state of this?

[2019-09-16 11:09] krezicoder commented on #700
@mweststrate  I am also in for active contribution, I love MST made my life so easy on many projects.

[2019-09-17 15:46] skeate opened #1391 "types.union type inference is wrong"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**
https://codesandbox.io/s/cool-neumann-gd521

**Describe the expected behavior**
When creating `instanc

[2019-09-18 11:19] nulladdict commented on #1378
Sorry for slacking on this. For now I've come up with this temporary solution:

[code]

 Good parts:
- Works with inferred `Generator` type
- TS now requires `Promise` to be yielded, which is required by `flow()` but wasn't type checked before
- TS now can infer _something_ for each yielded "awaited" Promise

Bad part is that whatever TS infers has to be compatible with _every single one_ of the y

[2019-09-21 20:47] xaviergonz commented on #1359
@mweststrate perhaps the idea of contexts from mobx-keystone could be used for this
https://mobx-keystone.js.org/contexts

[2019-09-21 20:48] xaviergonz commented on #1361
Well, mobx offers a method you "should" not use called _allowChangesInsideComputed or something similar (can't recall the exact name), but you have to be extra careful with it :)

[2019-09-21 20:50] xaviergonz commented on #1361
Also if you use atoms I think they can be both reported as changed and as observed inside computeds

[2019-09-21 20:53] xaviergonz commented on #1362
You should not spread copy node instances, use `clone` if you want to clone an instance or spread copy its snapshot (you can get it via `getSnapshot`) if you want a plain javascript object

[2019-09-21 20:59] xaviergonz commented on #1365
MST node instances arrays are not standard arrays, therefore using the prototype augmented pull inside them is likely to fail
If you use them as functions however (where you pass the array as argument instead) it does work as shown here
https://codesandbox.io/s/2074-mobx-exception-tvfi9

[2019-09-21 21:06] xaviergonz commented on #1367
That's because once you use preProcessSnapshot you are basically declaring what your custom snapshot in type is. Not sure if that can be fixed, hmm

[2019-09-21 21:11] xaviergonz commented on #1369
That's because upon ".create", the refinement (validation) is run first, then it will instantiate that node as type "TestType", so getType will return that as type for that node.
To fix this the refinement would need to be kept as type for the node (doable, but not easy).

[2019-09-21 21:11] xaviergonz commented on #1369
Not sure if a bug or an enhancement :)

[2019-09-21 21:20] xaviergonz commented on #1374
I get what you mean, so you want something similar to this? https://mobx-keystone.js.org/rootStores

[2019-09-21 21:23] xaviergonz commented on #1391
Might be related to https://github.com/mobxjs/mobx-state-tree/issues/1371

[2019-09-21 21:25] xaviergonz commented on #1388
Could you turn that into a (if possible smaller) unit test?

[2019-09-22 02:54] Maaartinus commented on #1374
@xaviergonz I surely wasn't looking for yet another framework, but

is exactly what I mean.

---

I see it's your project, so I deleted all my lengthy explanations why (attaching to) the root is much more important than the parent. ;) Anyway, I'm pretty sure, MST could profit from better root handling.

[2019-09-23 01:55] fruitraccoon commented on #1378
At the moment, when there _are_ multiple yields, I'm falling back to this approach so that it's easier to explicitly type the return variables

[code]

Without the `Generator<Promise<any>, void, any>`, TypeScript shows errors as it does not like trying to narrow the union type directly.

I'm keen to hear if anyone has a better approach?

[2019-09-24 03:50] Unique111 opened #1393 "deleted"
deleted

[2019-09-24 03:51] Unique111 commented on #1393
@mweststrate

[2019-09-24 09:12] nulladdict commented on #1378
I would argue, that falling back to `Promise<any>` is a shaky solution.
It is quite unsound, so you might forget to specify a type or specify a wrong type and TS would not complain about it.

Inferred union type is more verbose(you're forced to use "useless" type guard or `as` cast), but it is also more sound.
Consider this: ([playground link](https://www.typescriptlang.org/play/#code/C4TwDgpgBAgl

[2019-09-24 14:42] mweststrate commented on #1393
Please don't ping individuals , especially not within a couple of days, for something that isn't critical. But here is your answer:

To quote: https://github.com/mobxjs/mobx-state-tree/blob/master/docs/middleware.md

But please disappear with that answer immediately, but take a look of some of the other questions that are open and check which one you can answer in turn :)

[2019-09-24 19:27] williamoliveira commented on #1071
Seems smelly to need two schemas for everything, MST already has the relationship mappings.

I tried doing this but types.reference validation got in my way:

[code]

[code]

[code]

[2019-09-24 19:46] mweststrate commented on #700
@krezicoder awesome! I'll add you as maintainer. The most valuable contribution at this moment is probably helping people out with questions, but feel free to pick anything that peeks your interest :)

[2019-09-24 19:50] mweststrate commented on #700
Or check open PRs :)

On Mon, Sep 16, 2019 at 12:09 PM Ravi Teja <notifications@github.com> wrote:

[2019-09-24 22:50] fruitraccoon commented on #1378
Of course, `any` is the opt-out of type checking.  It was just what we had before, so at least it wasn't going backwards ;)

I had totally forgotten to try using `as` casting - that's a much better idea.  Thanks @nulladdict!

[2019-09-25 03:59] ashconnell commented on #1071
I gave up on the MST version of this since it was very much going against the opinions of this library.

That said, i've since done something similar to this in plain-old-Mobx which has allowed me to do some truly superior things I haven't seen in other apps. There have also been no performance issues.

Our API endpoints respond with two fields: a `value` field and an `entities` array. The `value`

[2019-09-25 05:03] williamoliveira commented on #1071
@ashconnell I am currently doing that with redux and normalizr. Adding things to my generic store is very straight forward, the problem lies in the retrieving side, I either have to denormalize and deal with bad performance or work with the normalized data, wish is a pain.

I am turning to Mobx/MST for a magic alternative. The retrieving side is very simple with MST. The adding part is what I am c

[2019-09-25 05:18] ashconnell commented on #1071
My adventure with this started with redux too and I had the same issues. I find MST to be extremely nice but I like to know I can experiment with anything that comes up so I stuck with MobX.

[2019-09-25 09:01] #1393 closed

[2019-09-27 12:08] MiroslavGannoha opened #1396 "getSnapshot returning inconsistent results"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**
https://codesandbox.io/embed/snowy-dawn-c7elr
[code]

**Describe the expected behavior**
getSnapshot s

[2019-09-29 06:23] colinmcd94 commented on #1132
For future reference, you'll also see this behavior (IMSTArray missing a bunch of methods) if you forget to install `mobx` as a co-dependency.

[2019-09-30 09:04] peerjollux opened #1397 "Jest giving 'Failed to resolve reference' error"
**_Question_**

* [x] I've checked documentation and searched for existing issues
* [x] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

I'm trying to add a new reference to between two models and delete an old one. In the browser this works, but when I test it with Jest I get the following error.

Does someone knows, what I'm doing wrong?

**Log error

[2019-09-30 12:53] VadyaVL opened #1398 "Using model from other module."
**Can I describe the model in a some package and then use it?**

* [x] I've checked documentation and searched for existing issues
* [ ] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

I have several projects with the same models (Typescript).
Can I make these models in a separate package and use them to reduce the copy of the code?
[code]
input - use

[2019-09-30 15:00] VadyaVL commented on #1398
Fixed for me.
Reason: different versions of mobx-state-tree in other project/modules.

[2019-09-30 15:00] #1398 closed

[2019-09-30 23:54] yonatanmn commented on #1363
thx @terrysahaidak , I guess this should be added to docs.
For Typescript , `MSTContext` and `Provider` should be declared after `rootStore`, and :
`const MSTContext = React.createContext(rootStore);`

[2019-10-01 18:50] runfaj opened #1399 "union subtree isn't evaluated correctly when assigning data"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**
https://codesandbox.io/s/gallant-rhodes-37i86?fontsize=14

**Describe the expected behavior**
Composed

[2019-10-02 15:25] kresli commented on #605
I know its quite old thread, but if anyone still looking for an answer, I can confirm this works well with TS 3.6.3 and MST 3.14.1.
[code]

[2019-10-05 00:49] Uncleseneca opened #1400 "Type of a store is lost when actions are extracted to a separate function"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**
https://codesandbox.io/s/mst-issue-d2hye

**Describe the expected behavior**
I expect a type of a stor

[2019-10-05 06:33] #1397 closed

[2019-10-05 07:53] Baael commented on #1071
I would need it too, I was thinking about something like `types.resource`.

[code]

For me more important now (or must have) is to keep domain paths like:
[code]

[2019-10-05 09:07] Uncleseneca commented on #1400
![image](https://user-images.githubusercontent.com/26726281/66252809-ac9b8880-e768-11e9-97e7-803b10d84e5d.png)

[2019-10-09 12:57] pravinbashyal commented on #1359
@mweststrate is there a sample for the utility? or a library around that use case?

[2019-10-14 07:49] holgersindbaek commented on #120
+1 for this feature.

[2019-10-16 14:41] k-g-a opened #1403 "[Typescript] Overriden model props get 'never'/'multiple implementation' typings"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**

https://codesandbox.io/s/goofy-dewdney-u7sbo

**Describe the expected behavior**

Overriding prop via

[2019-10-20 07:38] notbogdan opened #1404 "Individual stores that reference other stores are not unit testable"
**_Question_**

* [x] I've checked documentation and searched for existing issues
* [x] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

Imagine a store like the following:
[code]
How would you go about unit testing this store? It has dependencies on a child node, a parent node, and a reference to a node elsewhere in the tree. Instantiating it alone wi

[2019-10-21 10:29] k-g-a commented on #1404
If `FarawayStore` is within the same tree - you should supply the whole three to the test. Perhaps, mocking some parts of it with custom predictable snapshots.
If it's a separate tree - you should use custom reference (which is not present at you example). Within this custome reference you could either use MST environemnt and provide [real tree]/[mock for the test] or use any non-MST technique to

[2019-10-21 11:27] notbogdan commented on #1404
Mocking dependant stores using snapshots would not be enough if the integration goes as far as using another store's views/actions...

[2019-10-21 13:20] k-g-a commented on #1404
Unfortunatelly I can't get the point of the original question. Could you please provide an extended example with the `FarawayStore` present?

[2019-10-23 23:01] dayemsiddiqui commented on #1363
Hi I have followed the exact same steps and my store is working i.e data is being updated in the store however it is not getting reflected in my react component.

[2019-10-24 08:14] Romanior commented on #1363
@dayemsiddiqui You should use `@observer` function to make your components react to store changes, more here https://mobx.js.org/refguide/observer-component.html

[2019-10-24 10:18] val-samonte commented on #1400
i think this happens if there are existing ts issues in the tree. checking your code sandbox:

![image](https://user-images.githubusercontent.com/767060/67476383-8774a880-f68a-11e9-81c9-96d29ca961ce.png)

in my case, the children were dependent on the root state (type dependency issue)

[2019-10-24 18:01] Bnaya commented on #1400
you need to create an intimidate type of the store before the actions,
and use that type in the actions,
see:
https://codesandbox.io/s/mst-issue-fk366

[2019-10-24 18:57] dayemsiddiqui commented on #1363
Hey guys, I am using Typescript + React  + Hooks with mobx-state-tree. I am also exclusively use functional components in my code and I don't have any class-based component. I tried a lot of things to get my component to listen to state changes but no avail. The observer does not seem to be working with functional components but I figured out a solution to fix this problem that I wanted to share:

[2019-10-24 19:10] terrysahaidak commented on #1363
Hi @dayemsiddiqui, you have to use `observer` from mobx-react version 6, or use `useObserver` from mobx-react-lite.

[2019-10-24 19:54] ssolari commented on #1363
@dayemsiddiqui  thanks for providing that workaround!     @terrysahaidak @Romanior Could either of you provide an example of how to use ```observer``` with a functional component properly?   The docs for ```observer``` only show examples for class components.    I have seen the comment to 'use observer' several times, but I have never seen an example with functional components with a more complex

[2019-10-24 19:57] terrysahaidak commented on #1363
@ssolari just wrap it with observer:

[code]

You can check out a working example here:
https://codesandbox.io/s/classic-mobx-i9q9c

[2019-10-24 20:01] dayemsiddiqui commented on #1363
@terrysahaidak the above code example is with a mobx store not with mobx-state-tree store. I checked the codesandbox link. It seems to be working with mobx-store but I can't get it to work with mobx-state-tree store like @ssolari has explained

[2019-10-24 20:03] terrysahaidak commented on #1363
@dayemsiddiqui There is no difference between mobx store and mobx-state-tree store since mobx-state-tree is an abstraction over mobx. `observer` tracks changes in observables you're using inside your component. Each model in mobx-state-tree is observable. You can simply change my mobx model to be mst-model and it will be still working as expected.

[2019-10-24 20:04] ssolari commented on #1363
@terrysahaidak, @dayemsiddiqui  is correct.   Also, the point of the example is when a mobx-state-tree store updates itself in the background.    When a button is added to the component I think the functional component is rerendered anyway.   I can make this work because somehow the button click forces the rerender.   But wrapping the component in observer as you stated does not work.

[2019-10-24 20:05] terrysahaidak commented on #1363
@ssolari could you please provide minimum reproducing codesandbox so I can debug it?

[2019-10-24 20:06] ssolari commented on #1363
@terrysahaidak yes, let me try to mock up a minimal example.

[2019-10-24 21:12] ssolari commented on #1363
@terrysahaidak thank you for your patience and leading me to figure the problem out.  As you stated, ```observer``` just works!!!  It just needs to be wrapping the right component.   My issue was that I was wrapping a parent component with observer but needed to wrap the sub component in observer.    Hopefully this fully working example helps someone else.

In summary (referring to the below examp

[2019-10-24 22:37] cmdcolin commented on #1363
I dunno if this is just me but I wrap pretty much every single component (most of ours are functional, but that may not be relevant) in observer()

[2019-10-24 23:00] dayemsiddiqui commented on #1363
@ssolari Damn!! Thanks, man it now works for me as well. Thank you so much for figuring this out and posting the sample code. @terrysahaidak @Romanior it would be really cool if it's possible to add some example code for functional components with hooks in the documentation so other people can easily reference it. May @ssolari can create a PR for it as he has already figured out the problem

[2019-10-25 09:15] Romanior commented on #1363
@cmdcolin It depends on you project structure.
It would be awesome to have some kind of white-paper to illustrate performance implications of wrapping "pretty much every single component" versus careful way where props selected and only reactive components wrapped.

[2019-10-25 17:18] RWOverdijk opened #1406 "TypeScript performance"
**_Question_**

* [x] I've checked documentation and searched for existing issues
* [ ] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

I have no idea where or why exactly but sometimes my IDE (webstorm) goes insane, running 100% on all my cores in some odd cases.

I've found that if I do not specifically state the source of a store for example, this

[2019-10-25 17:38] Carduelis opened #1407 "Cannot resolve a reference with multiple candidates (two model instances with same identifier AND PATHS!)"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] I've debugged and did some research on the issue via Chrome Dev Tools
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Describe the observed behavior**
Once upon a time, I got a well-known

[2019-10-25 23:17] Bnaya commented on #1406
it happens to me in vs code as well.
it's due to the inference complexity.

Take a look on:
https://github.com/microsoft/TypeScript/issues/25023#issuecomment-453639378
in the linked comment there's my "workaround"

[2019-10-26 08:42] RWOverdijk commented on #1406
I'll give that a go. But it doesn't fix the:

Do you have any tricks for that as well?

[2019-10-26 09:35] RWOverdijk commented on #1378
I'd gladly go back to any if it means this will keep working

[2019-10-27 23:25] Bnaya commented on #1406
Take a look at:
https://codesandbox.io/s/mst-issue-1406-olsn3

[2019-10-28 01:26] blacksteed232 commented on #1378
you guys should check out `mobx-utils` [actionAsync](https://github.com/mobxjs/mobx-utils#actionasync) thanks to the great work of @xaviergonz! I could rewrite all of my flows using that pretty easily.

As for `flow()` post TS3.6, I think instead of `Generator<Promise<any>, void, any>` I would use `Generator<Promise<unknown>, void, unknown> so that Typescript will force me to cast type.

[2019-10-28 06:09] fullofcaffeine opened #1408 "Failed to find the parent of <Model>@/<prop>(id: <val>) at depth 2"
**_Question_**

* [x] I've checked documentation and searched for existing issues
* [ ] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

_Apologies, I just saw spectrum is the preferred channel for questions. If I could delete this I would, but for the sake of search engines, I'll leave this one open. I'll create any further questions I have on spectru

[2019-10-28 09:29] mweststrate commented on #1408
Please provide a small reproduction when filing issues, ideally in code sandbox. Without that we can't do much. What does your `self.store` for example refer to? Is that a self build view?

[2019-10-28 09:30] mweststrate commented on #1407
Sorry, but as you guessed already, it is really impossible to say anything sensible about this without a minimal reproduction.

[2019-10-28 09:46] RWOverdijk commented on #1406
@Bnaya I meant this: https://codesandbox.io/s/brave-lederberg-1dqpo?fontsize=14

Look in `TestStore.ts`.

![image](https://user-images.githubusercontent.com/781745/67668426-3574a100-f970-11e9-9d7e-ff651b9c98be.png)

[2019-10-28 11:31] vkasraj commented on #1408
I am having the same issue with the mutation. Below is my code.

Already read this https://github.com/mobxjs/mst-gql#customizing-generated-files

### MST Models
[code]

### Component
[code]

[2019-10-28 12:12] nulladdict commented on #1378
@blacksteed232 thanks, that's actually exactly what I needed.
`actionAsync` is a little verbose, but I'll take extra `task()` call for TS compatibility

[2019-10-28 14:18] terrysahaidak commented on #1406
@rwoverdijj did you try to use generic patam with getParent?

[2019-10-28 14:30] Carduelis commented on #1407
@mweststrate thanks for the response. I thought it could be like "A-ha!" and the answer is simple. The strange thing that I'm not able to reproduce this issue anymore on a different machine. Or maybe I miss something, cause there were a lot of commits afterward and the broken commit does not reproduce the issue on another machine.

But before I close the issue, could you help with the example of r

[2019-10-28 14:57] skokenes opened #1411 "applyPatch will not replace root of store"
* [x] I've checked documentation and searched for existing issues
* [x] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

Is there anyway to use applyPatch to update a snapshot in the same way you might do an applySnapshot? With JSON patching, I'd expect to be able to replace a store using a patch like:
{
  op: "replace",
  path: "",
  value: {} // new

[2019-10-28 15:07] kenaku commented on #1406
This happens when you use getRoot() or getParent() in views/actions.
You have to explicitly set return values of that views/actions, like so:
[code]

[2019-10-28 15:51] fullofcaffeine commented on #1408
@mweststrate

Not sure what you mean by "self build view". AFAIK, `self` is the actual instance of the `UserModel`. The actual error fails on the line I commented below with "<-- FAILS HERE".

I'm listing the code for relevant MST-generated and cutomizable models below. I think it'd be overkill to reproduce everything in a code sandbox, but if the code below is not enough, let me know and I'll wor

[2019-10-28 16:27] mweststrate commented on #1411
It is not possible to replace a thing itself, as that would require all
javascript pointer that point to that object to be updated, which is
impossible. Either create patches that replace all fields of the root
object, or wrap another object around the root so that there is an entry
point.

On Mon, Oct 28, 2019 at 2:57 PM Speros Kokenes <notifications@github.com>
wrote:

[2019-10-28 17:30] RWOverdijk commented on #1406
@kenaku I don't understand what you're saying. Having a getter (assuming you mean a view?) like this won't work if I use "this" and the context isn't the same (which happens frequently).

Also not sure what "IStore" is.

In any case I tried it and it doesn't solve the issue (you can solving try it here:  https://codesandbox.io/s/brave-lederberg-1dqpo?fontsize=14 and see what I mean).

[2019-10-28 17:33] RWOverdijk commented on #1406
@terrysahaidak It's RWOverdijk 😄 And it doesn't make a difference. I tried getParentOfType, I tried getParent with generic `typeof RootStore` and I tried generic `Instance<typeof RootStore>`. All of which yield the same result. Also reproducable in the codesandbox link.

[2019-10-28 18:48] mweststrate commented on #1406
The error you get is correct, as TypeScript doesn't support recursive types at the moment (3.7 might change that!). Since it cannot express the type of your store depends on the output on the signature of that getter, which, to determine it's result type, needs to know the type of.... you see the circle.

However, since interfaces can be recursive, you can fix this by using the trick explained in

[2019-10-28 18:53] mweststrate commented on #1411
A Test + PR that will make MST error on such cases is welcome (condition: node is root, path is empty)

[2019-10-28 18:54] terrysahaidak commented on #1406
Sorry, @RWOverdijk, I've been typing from my phone without autocomplete :(

[2019-10-28 18:55] ssolari commented on #1363
I don't have time to do a PR, but if it would help someone else, I'm happy if any of the code above ends up in examples in docs (no credit needed).     It seems that the future of React is functional components with hooks and there are not quite as many examples to go off of yet.

[2019-10-28 18:55] mweststrate commented on #1408
Your bulk of code is too big to truly analyse, but at least this triggers an alarm: `const note = clone(_note);`. Note that a clone does not have a parent, so it doesn't have a store either! Which would explain the error

[2019-10-28 18:58] skokenes commented on #1411
I see. How does that differ from applying a snapshot? Don't they
conceptually do the same thing? Ie, replace the entire structure

On Mon, Oct 28, 2019, 7:53 PM Michel Weststrate <notifications@github.com>
wrote:

[2019-10-28 19:13] mweststrate commented on #1411
Yeah, thinking longer about, I think it is a bug and it should behave is
one would expect :)

On Mon, Oct 28, 2019 at 6:58 PM Speros Kokenes <notifications@github.com>
wrote:

[2019-10-28 19:14] fullofcaffeine commented on #1408
@mweststrate Any hints for my case? I pasted the snippets above: https://github.com/mobxjs/mobx-state-tree/issues/1408#issuecomment-547012012. Maybe the way I use `type.optional` to assign to the `me` prop in `RootStore` is to blame?

[2019-10-28 19:16] RWOverdijk commented on #1406
@mweststrate Well well well... Look at that. All right, I can live with that.

Isn't this whole "ISomeInterface" thing against the best practises/style guide? https://basarat.gitbooks.io/typescript/content/docs/styleguide/styleguide.html#interface

I don't know how much of an authority that doc is. I just remember a c# person saying they regret that convention and thought it would only make sense

[2019-10-28 19:22] mweststrate commented on #1406
Yes, I hate the I as well. However, since you need to find a name that
doesn't collide with your model type (although, maybe colliding is actually
fine, since one is a value and the other a type)..... So yeah, feel free to
leave out the I if that works :)

For an MST alternative that is better at TS, make sure to check
https://github.com/xaviergonz/mobx-keystone

Immer is solving an quite unrelate

[2019-10-28 19:37] RWOverdijk commented on #1406
@mweststrate  Nice, thanks for sharing that. I'll take a look.

I'll name my interfaces something other than II118nStore for now 😄 Maybe just a clear name like I18nStoreInstance and I18nStoreSnapshotIn. A bit long but clear.

Thanks again, everything works now :)

[2019-10-28 19:37] #1406 closed

[2019-10-28 19:46] mweststrate commented on #1408
I would love to be able to answer the question, but to be frank, I don't have the time to dive into questions that requires me to understand a few hunderd LoC first. If less people that would use this lib, would pass by to ask some questions, and then leave without ever answering those they know the answer to, that would maybe viable. But as it stands, in-depth support can't be scaled :)

[2019-10-28 19:49] mweststrate commented on #1407
I think it is solvable as I can vaguely remember seeing similar things in the past. Some solution directions you could consinder is using two different types at different paths, one with the temp items. Or making consumers defensive against the objects not being present yet, rather than generating stub objects on the fly.

I would love to be able to answer the question, but to be frank, at this mo

[2019-10-28 19:51] mweststrate commented on #1404
Personally I love to avoid the problem by just always instantiating a complete store for the entire test. Since stores are never singletons that works really well imho as long as you don't automatically kick of side effects such as data testing, and it keeps things stupidly simple and predictable at the cost of some coupling.

[2019-10-28 19:56] fullofcaffeine commented on #1408
@mweststrate I understand. That's why I tried to summarize the problem in the first post.

Please allow me to rephrase the question to be more specific then.

Below is the `RootStore`. I'm creating an instance of `UserModel` in the `me` prop (`UserModel`  is a model generated by `mst-gql`). Is that the right way to do it? Should I be passing a parent to it?

[code]

[2019-10-28 19:56] mweststrate commented on #1403
The sandbox doesn't seem to contain any code. But... I actually thought overriding props was forbidden 🤔 . Or at least it should be imho, as changing the type of a property breaks the contract of the type. (if X.y is declared as string, action X.z assumes it is a string, and then X.props() redeclares it as number, you'd be breaking X.z). So I think it is technically correct that you end up with a

[2019-10-28 20:03] mweststrate commented on #1399
I didn't entirely get the example, but yes this is how MST is supposed to work. If the snapshot _can_ be assigned to the current type of the node, it _will_ be. I think the problem in your example is that you are missing an discriminating field. So probably you should be declaring `determiningId` as `literal(1)` resp `literal(2)` in the two types, rather than as `number` in both, which makes them

[2019-10-28 20:07] mweststrate commented on #1408
I think the idomatic way to do it is `() => ({ id: 'Guest'})`. But it should not be needed to pass a parent as param. Could you at least include a stacktrace?

[2019-10-28 20:10] mweststrate commented on #1373
Might be fixed by #1269

[2019-10-28 20:12] fullofcaffeine commented on #1408
Sorry for no including it originally. Here it goes:

[code]

[2019-10-28 20:13] mweststrate commented on #1373
Note that the test cases in the (untyped) form of `() => (` are useless; typescript will always allow additional properties to exist if the object is not coming from a direct constant assignment (because more properties are a valid subtype of what is expected). So, those cases behave as designed. For more details, google for "TypeScript freshness"

[2019-10-28 20:16] mweststrate commented on #1391
This is conceptually correct, for reasons explained here: https://github.com/mobxjs/mobx-state-tree/issues/1403#issuecomment-547118869. In other words, never redeclare property types, except if you can subtime them

[2019-10-28 20:22] #1391 closed

[2019-10-28 20:31] mweststrate commented on #1408
Can you set the stack trace level deeper? Because that is not the full
stack trace

On Mon, Oct 28, 2019 at 8:12 PM Marcelo Serpa <notifications@github.com>
wrote:

[2019-10-28 20:34] fullofcaffeine commented on #1408
Hmm, well, I clicked on Chrome and it expanded to the following:

[code]

[2019-10-28 21:07] mweststrate commented on #1408
Ok, so `signup$ | @ | UserModel.ts:77` seems to be your offending line.

[2019-10-28 21:34] fullofcaffeine commented on #1408
Yes, this is the line that calls the `signup` action, which in turn tries to call the mutation on the store:

The offending line:

[code]

The implementation:

[code]

[2019-10-28 21:42] fullofcaffeine commented on #1408
Am I doing something wrong? Is there anything else I need to do when creating the `UserModel`  instance so that I can have access to the store and mst-gql mutation/query methods?

[2019-10-28 21:48] mweststrate commented on #1408
When does the signin happen? Parents are only available after attach event
has fired, not immediately

Op ma 28 okt. 2019 21:42 schreef Marcelo Serpa <notifications@github.com>:

[2019-10-28 21:54] fullofcaffeine commented on #1408
It's called from within the `signup` action, inside the same `UserModel`:

[code]

Then in a `Signup` React component I call the `signup` upon form submission action by using the `context` injected by the Provider, as in:

[code]

[2019-10-28 22:02] mweststrate commented on #1408
I'd start by logging at every interesting point that getParent / getRoot
are what you expect them to be.

Op ma 28 okt. 2019 21:54 schreef Marcelo Serpa <notifications@github.com>:

[2019-10-28 22:05] fullofcaffeine commented on #1408
@mweststrate Yeah, that makes sense. I also wanted to check with the community to see if I was doing something stupidly wrong since I just started using `mobx-state-tree`.

I'll do what you suggested and come back if I can't find the root of the issue. I'll leave this open for now.

Thanks a lot for your time and help so far.

[2019-10-29 01:22] Bnaya commented on #1411
I don't know if its directly related but,
I have a WTF feeling earlier this year when after using MST for a while,
when this code didn't work on sub property and not the root
[code]
Full example:
https://codesandbox.io/s/mobx-state-tree-arrays-wtf-zonww?fontsize=14&previewwindow=tests

[2019-10-29 04:05] fullofcaffeine commented on #1408
@mweststrate

I did some additional digging and found out the culprit to be this line in the `mst-gql` library: https://github.com/mobxjs/mst-gql/blob/master/src/MSTGQLObject.ts#L43.

I replaced the `getParent(self, 2)`  by `getRoot(self)` and now it works great.

Now, I don't know if that's a bug in `msg-gql` or if it's happening because of a mistake I did while coding my models.

I created an is

[2019-10-29 04:05] #1408 closed

[2019-10-29 07:16] vkasraj commented on #1408
@mweststrate So what is the solution as I am new this `mst` stuff. Can you help me ?

[2019-10-29 07:29] k-g-a commented on #1403
I'm not sure why there is no code as I can see it (src/index.ts file).
Here's the picture:
![image](https://user-images.githubusercontent.com/12710451/67742390-bbaae900-fa3d-11e9-8879-724eed069af2.png)
And here's the code:
[code]

In general, it seems reasonable to forbid overriding, but for now it's allowed.
I am not sure whether it's common case or not, but we use it in two ways:
- overriding ge

[2019-10-29 08:44] Carduelis commented on #1407
@mweststrate thank you anyway. Right now this is not a blocker for our project, but if I get some updates, I will populate this thread.

[2019-10-29 08:54] k-g-a commented on #1404
Totally agree with mweststrate. We use one store per ModelType (not every model type, but only the basic ones - those which have API endpoint; nested `type.model`'s just live within basic ones) and use custom references to automatically fetch linked basic models at runtime.
To manage those stores we have DI-container, which is injected as the part of the `environment` to every root store. After tr

[2019-10-29 09:27] notbogdan commented on #1404
Fair enough. How do you handle stores that have data fetching as a side effect? Is it just a matter of mocking the API responses or is it better to avoid stores that work with remote data upon initialisation altogether?

[2019-10-29 11:51] mweststrate commented on #1404
Environments are meant to provide your data fetching layer (and any other
thing that is environment specific) to the models, rather than hard
coupling them. That makes it easy to swap out their implementation in
tests. See https://github.com/mobxjs/mobx-state-tree/#dependency-injection,
from top of my head in one of the examples 'fetch' is injected in a similar
way.

On Tue, Oct 29, 2019 at 9:27 A

[2019-10-29 11:53] mweststrate commented on #1404
Oh and yeah, I indeed avoid fetching upon initialization. Creating model
instance first, than call `.loadInitialData()` action explicitly gives you
a lot of additional control for little additional effort

On Tue, Oct 29, 2019 at 11:51 AM Michel Weststrate <mweststrate@gmail.com>
wrote:

[2019-10-29 11:58] mweststrate commented on #1408
Please open a separate question, as this one is closed and otherwise things
are confusing. But the basic question to answer is a) why do you need a
clone? b) if you need a clone, what functionality from parent does it need
have (what is triggering an error here, are you trying to do something with
the clone that you should do on the original instead, such as saving)?

On Tue, Oct 29, 2019 at 7:16

[2019-10-29 16:02] xaviergonz commented on #1378
actionAsync is an alternative to mobx flows, not mobx state tree ones. To make them work with mobx state tree it would need its own particular implementation (same than there's a different implementation for flows in mobx).

That being said I'll cut a new version of mst with the fix for flow typings, but it will make ts 3.6 the new minimum version when using flows

[2019-10-29 17:02] xaviergonz commented on #1378
v3.15.0 released, please give it a try :)

How to use it:

[code]

The only thing that is still not quite working is getting the proper return type from yields, so those will still return any for now and should be type casted

[2019-10-29 17:17] notbogdan opened #1412 "Referencing nodes in uninitialised parts of the tree causes them to be evaluated incorrectly in afterCreate()"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**
https://codesandbox.io/s/crazy-merkle-k770l

**Describe the expected behavior**
Logic in afterCreate()

[2019-10-29 18:04] RWOverdijk commented on #1378
@xaviergonz I'm now able to remove the icky typing and I can confirm it works. Thank you!

[2019-10-29 20:11] mweststrate commented on #1412
Sorry, I didn't see any `undefined`s being logged in the example. But any functionality that requires accessing the parent, such as resolving references, is generally speaking only available after `afterAttach` has fired, and not in `afterCreate`.

[2019-10-29 21:23] runfaj commented on #1399
@mweststrate I'm trying to reconcile how this would work, so, I updated the example to be closer to the actual scenario. I'm fuzzy on how identifiers/literals might play into this, mostly because the ids don't correlated 1-to-1 with the models. One of the unioned models might have several associated ids.

Here's the updated example to try to explain: https://codesandbox.io/s/composed-union-mobx-ex

[2019-10-29 21:35] notbogdan commented on #1412
Apologies, the code example was updated unintentionally. You can now see the very strange interaction in the afterCreate, where the `getSnapshot` call returns the expected data while the `console.log` in the `forEach` logs one leaf, the one that was being referenced, as undefined.

[2019-10-30 09:34] AmyFoxFN opened #1414 "[3.15.0 failed, but 3.14.1 success] When access to the volatile properties of root (getRoot(self)) in TypeScript, it throw error: TS2339"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [ ] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**

**Describe the expected behavior**

Passing the type checking.

**Describe the observed behavior**

t

[2019-10-30 10:01] k-g-a commented on #1414
Quick question: did you update ts to 3.6+?
If you did and still get an error, please provide some sourcecode or sandbox link.

[2019-10-30 10:57] impulse commented on #1363
Decided to give mst a go today and experimented before finding this thread.

I've noticed that my experiment worked without using a Context Provider. Is this even required since we are using `observer` or will I run into any issues by doing this?

I've linked a codesandbox for feedback below:

[![Edit mst-hooks-typescript](https://codesandbox.io/static/img/play-codesandbox.svg)](https://codesandbo

[2019-10-30 11:11] mweststrate commented on #1363
For observer to work, it doesn't matter how the component got a hold on the
store, props, state, context, from some global closure, singleton. It
doesn't matter at all. Context is just one way (and a very elegant one
which I recommend), to give the component that pointer to the store. In
other words, context is the dependency injection mechanism, observer +
observable is the change tracking mechan

[2019-10-31 10:22] #1378 closed

[2019-10-31 16:28] impulse commented on #1363
Thanks for the explanation @mweststrate.

I've created a template project with React Hooks + MST + TypeScript:

Demo: https://react-hooks-mobx-state-tree.netlify.com/
GitHub: https://github.com/impulse/react-hooks-mobx-state-tree

[2019-11-01 09:48] whinc opened #1415 "A better async/await actions usage?"
**_Question_**

* [x] I've checked documentation and searched for existing issues
* [ ] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

I have read [Creating asynchronous actions](https://github.com/mobxjs/mobx-state-tree/blob/master/docs/async-actions.md). The main reason we can't use async/await is that modification operations to state tree in async

[2019-11-05 12:58] mario-jerkovic commented on #1078
Using MST in Rimac Automobili

[2019-11-06 17:04] rdewolff commented on #791
And making a snapshot afterCreate() does not work in react-native if you restart the app. As a new afterCreate() will be triggered uppon app restore with the wrong snapshot.

[2019-11-06 17:04] #791 closed

[2019-11-06 17:23] marcofugaro commented on #791
UPDATE: here is a better way to do it
[code]

reset method:

[code]

[2019-11-06 17:25] rdewolff commented on #791
Yes that's a nice example, thanks @marcofugaro. And you could even compose this reset method with your stores ;)

[2019-11-06 21:38] b-asaf opened #1416 "null or default value"
**_Question_**

* [*] I've checked documentation and searched for existing issues
* [*] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

Hey,
I am trying to assign a default value if the value that is arrived from the server is null or undefined. To do something like this (which I know does not work):
[code]
`objectA` defined in another file, and it ha

[2019-11-06 22:09] mweststrate commented on #1416
What error do you get?

On Wed, Nov 6, 2019 at 9:38 PM b-asaf <notifications@github.com> wrote:

[2019-11-06 22:30] b-asaf commented on #1416
Hey,
I don't get an error in the assignment, but `valueA === null` and **not** `valueA === initialObjectA`.

[2019-11-06 22:41] mweststrate commented on #1416
Then it is probably related to module loading order. You might want to check before the model declaration if `initialObject` actually has a value at all: `if (!initialObjectA) throw "oops"; const objectB= ...`

[2019-11-06 22:41] mweststrate commented on #1416
simple fix in that case would be to provide a thunk as default value: `() => initialObjectA`

[2019-11-06 22:43] b-asaf commented on #1416
do you mean, something like this:
`valueA: types.optional(types.maybeNull(objectA), () => initialObjectA)`

[2019-11-06 23:05] mweststrate commented on #1416
Yes

On Wed, Nov 6, 2019 at 10:43 PM b-asaf <notifications@github.com> wrote:

[2019-11-07 06:47] b-asaf commented on #1416
I tried that but but it does not work.
When I try:
`valueA: types.optional(types.maybeNull(objectA), () => initialObjectA)`
I am getting: `valueA === null`

And when I try:
`valueA: types.optional(objectA, () => initialObjectA)`
I am getting an error:
`value "null" is not assignable to type "objectA"`

[2019-11-07 07:36] mweststrate commented on #1416
Seems like the value *is* null the whole time. Make sure you initialize and
import correctly. To be of further help we'd need a small reproduction or
at least share your declare/ import / export code

Op do 7 nov. 2019 06:47 schreef b-asaf <notifications@github.com>:

[2019-11-07 11:52] b-asaf commented on #1416
Thanks for the help, I will take a look again.

[2019-11-07 21:42] mweststrate commented on #1363
Looking good! I'll link it in the next version of the docs

On Thu, Oct 31, 2019 at 4:28 PM impulse <notifications@github.com> wrote:

[2019-11-08 06:22] tibotiber opened #1417 "Limited history with UndoManager?"
**_Question_**

* [x] I've checked documentation and searched for existing issues
* [x] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

Hi,

I'm a long time MST user and love it, thanks for the work that went into this!
I'm using the UndoManager for the first time and was wondering if there was a way to fix the maximum length of the history to avoid h

[2019-11-08 09:29] impulse opened #1418 "React.StrictMode breaks observer for async actions"
**_Bug report_**

* [x] I've checked documentation and searched for existing issues
* [x] I've made sure my project is based on the latest MST version
* [x] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**
https://codesandbox.io/embed/mst-async-bug-6kul3

**Describe the expected behavior**
When clicking "se

[2019-11-08 09:53] impulse commented on #1415
Not sure if I understood right but this runInAction wrapping is already done if you use flow.

[2019-11-08 10:39] mweststrate commented on #1418
can you try with mobx-react-lite@next ? The 2.0 version will add official
concurrent mode support

On Fri, Nov 8, 2019 at 9:29 AM impulse <notifications@github.com> wrote:

[2019-11-08 12:36] impulse commented on #1418
Seems to work fine when using @next. Will not be using StrictMode until 2.0 arrives in the meanwhile. Thanks!

[2019-11-08 12:37] #1418 closed

[2019-11-08 14:48] mweststrate commented on #1417
The middle ware is defined here, and not that complex as you see: https://github.com/mobxjs/mobx-state-tree/blob/master/packages/mst-middlewares/src/undo-manager.ts

It saves patches (diffs), and not the full history, so in most cases memory usage will probably not be that high. There is a `clear` action to truncate the history. I guess it would be easy enough to add an action that removes everyth

[2019-11-09 08:52] tibotiber commented on #1417
Thanks! Will have a look and open a PR. I would add an optional argument to `clear`. Would doing the same to `clearUndo` and `clearRedo` make sense?

Extra but keen to explore if you're fine with it:
We could pass in an option when creating the middleware (`maxHistoryLength` or something like that), then make sure we automatically maintain a maximum history (or undo only?) length. From what I've u

[2019-11-09 11:03] mweststrate commented on #1417
Oh that would be the more natural approach indeed. Great idea!

Op za 9 nov. 2019 08:52 schreef Thibaut Tiberghien <notifications@github.com

[2019-11-09 12:12] Ridermansb commented on #1363
And about `useEffect`  I'm having problems with `observer` and `useEffect` used together.

[code]

Quite simple component

[code]
![image](https://user-images.githubusercontent.com/725337/68528383-ba48ae80-02d0-11ea-8205-fbd4fbb9fbf0.png)

[2019-11-09 12:18] mweststrate commented on #1363
@Ridermansb please open a new issue, and create a minimal reproduction. But superficially, this looks totally unrelated to MST / mobx / React. Probably best checks the props you are passing in.

[2019-11-11 03:04] tibotiber commented on #1417
Cool, I'll do that. Traveling end of this week, so expect something in 10 days or so.

[2019-11-11 07:07] b-asaf commented on #1416
Most of the times the value is null or undefined (nothing is passed from the server).
I just wanted to see if I can convert it to my `initialObjectA` because I wanted to avoid this check:
`!valueA` or `value !== null` and use `value.isEmpty`

[2019-11-11 09:22] Venryx opened #1421 "The action "createObservableInstanceIfNeeded" is run every time object is accessed"
**_Bug report_**

* [X] I've checked documentation and searched for existing issues
* [X] I've made sure my project is based on the latest MST version
* [X] Fork [this](https://codesandbox.io/s/y64pzxj01) code sandbox or another minimal reproduction.

**Sandbox link or minimal reproduction code**
https://codesandbox.io/s/mobx-state-tree-todolist-uo625

**Describe the expected behavior**
I expect t

[2019-11-11 09:40] mweststrate commented on #1421
Thanks for your detailed analysis! I think you are right on every point, so feel free to submit that PR! I'd guess it will bring a minor performance benefit as well

[2019-11-11 09:42] mweststrate commented on #1416
Sorry, I didn't understand the last comment :). Please reproduce the issue in a small codesandbox, that communicates a lot more efficiently.

[2019-11-11 12:13] Carduelis commented on #1101
The same and it's still not resolved.

Also, for some reason I bumped to the issue of that all maps are `undefined` by default instead of empty Map objects, so it leads to error in `values`  function which does not accept `undefined` as an argument

[2019-11-11 16:14] notbogdan opened #1423 "How do we use undoManager.startGroup for frequently called actions post v3.13.0?"
**_Question_**

* [x] I've checked documentation and searched for existing issues
* [x] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

Before v.3.13.0 the following was valid when using the undoManager's `startGroup` method for creating an entry of a single group of patches in the undoManager history:
[code]
This was great because it allowed us to ma

[2019-11-11 18:51] #1421 closed

[2019-11-11 19:30] mweststrate commented on #1423
I think this change was intended, as your original approach would
accidentally capture concurrently happening events; for example the
handling an incoming message from the server. So in general I'd recommend
to pull startGroup up as for as possibly to capture all logic inside
it. For example call it direclty from the event handler.

If the process you try to group is async, IIRC the startGroup wil

[2019-11-11 19:31] mweststrate commented on #1101
all es5 should be valid es6 I'd expect. Please create a small repository that demonstrates the problem.

[2019-11-12 16:23] fullofcaffeine commented on #548
I'm also looking or an offline state management solution, any news here? :)

Someone mentioned using `redux-offline`, is it really possible without a lot of hacking?

[2019-11-13 17:36] skokenes commented on #810
So I have this exact problem now. Any suggestions on how to handle it? Is there a way to indicate that a node should not be lazily instantiated? I'd like to set up syncing with a server using `afterCreate`, regardless of whether the node is being accessed locally yet...

[2019-11-13 18:18] mweststrate commented on #810
Loop over the children from some parent

On Wed, 13 Nov 2019, 17:36 Speros Kokenes, <notifications@github.com> wrote:

[2019-11-14 11:16] andrey-ridge commented on #1101
Demo repo: https://github.com/andrey-ridge/mst-1101-demo

Please refer to `README.md` to build and run demo. Expected output should be like this:

[code]

[2019-11-15 00:43] juFelipe commented on #1078
Do someone knows if in SF there's a startup using MST looking for engineers?

[2019-11-18 10:21] stoefln opened #1424 "Compatibility with jsDoc"
**_Feature request_**
Support jsDoc

**Is your feature request related to a problem? Please describe.**
I am trying to use jsDoc for my mobx-state-tree powered app but I am having issues with it.
Visual studio code does not show me the right properties of the corresponding type (in fact it shows the wrong ones):
See here:
https://i.stack.imgur.com/m8XYq.png

jsDoc is a huge help with other types a

[2019-11-18 11:34] mweststrate commented on #1424
It is unclear to me whether your issue is that JSDoc is not showing JSDoc comments, or that autocompletion shows the wrong members for the `step` istance in your screenshot. The first might very well the case, but in your screenshot the second seems to be the problem. That should normally work, and might be a problem in your setup.

[2019-11-18 19:58] skokenes opened #1425 "Typescript declaration size"
**_Question_**

* [x] I've checked documentation and searched for existing issues
* [ ] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

I have a fairly complex set of models that form a big store. This store is shared between a few services, so I have the store defined in its own package that my other services import from.

I am trying to generate typ

[2019-11-19 10:17] mweststrate commented on #1425
Make sure to use the recommended `export interface ITodo extends typeof Todo
.Type {}` for all of your model types, that might help.

On Mon, Nov 18, 2019 at 7:58 PM Speros Kokenes <notifications@github.com>
wrote:

[2019-11-19 11:03] k-g-a commented on #1425
Make sure to specify concrete return types for views/actions which return other nodes, otherwise inferred return types are really huge.

[2019-11-19 15:23] skokenes commented on #1425
Those solutions don't seem to address my problem unfortunately. See the following example repo:
https://github.com/skokenes/mst-typescript-dec-test

In src, I create a store called `ModelA` with a simple string. Then I create two stores that wrap that store:

- `ModelB`: this uses `ModelA` as a nested property the way one typically does in MST, with inferred typing
- `ModelC`: this uses `ModelA` a

[2019-11-19 15:26] stoefln commented on #1424
My problem is that the autocompletion shows the wrong members of the step instance.
I just tried in codesandbox and I am experiencing the same issue.

<img width="581" alt="Screenshot 2019-11-19 at 16 24 44" src="https://user-images.githubusercontent.com/562800/69160148-59e41900-0ae9-11ea-9121-fee65d8b11cc.png">

Pls check:
https://codesandbox.io/s/mobx-state-tree-todolist-e4r3p

[2019-11-19 15:41] mweststrate commented on #1424
If I autocomplete on `store.` it is correct. On `store1.` you won't get
anything useful, because it is declared as TodoStore, but that is the type
of the model (the class itself you could say), not the type of the
instance. In TypeScript can get the type type of the instance as explained
in the docs. So that should roughly look like:

/**
*
* @param {typeof TodoStore.Type} store1
*/
function check

[2019-11-19 15:45] stoefln commented on #1424
Wow, that works and that's amazing!
Sorry, I was not aware that the "Typescript" section of the docs was relevant for me since I don't use typescript in my app. Thanks so much!

[2019-11-19 16:53] mweststrate commented on #1424
Your IDE uses typescript for autocompletion. Whether you like it or not :)

On Tue, Nov 19, 2019 at 3:45 PM Stephan Petzl <notifications@github.com>
wrote:

[2019-11-20 11:35] ArmorDarks commented on #1378
Am I correct that `yield` still results in any type?

For instance:

[code]
`response` here yield to `any`.

It's impossible to address that issue as of right now without a forced typecasting, right?

[2019-11-20 12:09] mweststrate commented on #1378
.json() produces any itself, so I am not sure what else could be inferred
here?

Op wo 20 nov. 2019 11:35 schreef Serj Lavrin <notifications@github.com>:

[2019-11-20 12:23] ArmorDarks commented on #943
@kresli Isn't it results in the same error about the self-referenced variable? It's still part of the same declaration, so TS will complain that it can't infer its type, even despite it's in a views clause

[2019-11-20 12:33] nulladdict commented on #1378
It is still somewhat impossible, you can try tricking TS into inferring union type of all yields as described in my comment [above](https://github.com/mobxjs/mobx-state-tree/issues/1378#issuecomment-532639990), but if you return one of the yielded results from the generator TS freaks out and gives up typing, falling back to `any`

[2019-11-20 16:52] rseyferth commented on #1156
I agree, this is an important issue. Having the application break when you try to use a model in 2 locations is really unhelpful... Especially because there is no way to add a 'generic' model property to a model, so you can abstract some logic, and `A node cannot exists twice in the state tree`. It's not an uncommon thing for a record to appear in an application twice, right?

What would be the re

[2019-11-20 20:00] ArmorDarks commented on #1378
here?

It's not about `response.json()`, but about `window.fetch()` wich actually resolves to `Promise<Response>`

That's kinda sad. And, if I'm correct, `asyncTask` from Mobx won't work with MST as it is?

[2019-11-20 21:30] Bnaya commented on #1425
See my PR,
https://github.com/skokenes/mst-typescript-dec-test/pull/1/files
Using that pattern is verbose, but better than hand-writing specific interfaces

[code]

[2019-11-20 21:31] Bnaya commented on #1425
Output types, only IModelType is emitted per created model factory
[code]

[2019-11-20 21:52] skokenes commented on #1425
Awesome! Yes its a pain to have to write this out, but its way better than manually typing everything.

Just curious, can you explain how it works? I don't totally follow why this behaves differently.

[2019-11-20 22:02] Bnaya commented on #1425
I got to these kind of pattens a while ago when nested models killed my IDE.
I've noticed that when you hover a variable with interface type, you see the interface name,
But if you hover variable with type from `type` declaration, you see the **whole** structure.
So my assumption is that typescript interface create some kind of "named cache point",
that is good for tsserver performance(=editing ex

[2019-11-20 22:22] skokenes commented on #1425
I see, thanks.

How are you handling union types? Those are still recreating some props for me, though not necessarily blowing things up for me completely since they at least are reusing nested complex types.

Take the following input for example:
[code]

This produces the following declaration file:
[code]

[2019-11-20 22:59] Bnaya commented on #1425
union inferring internal stuff regarding the model factory, what leads to that behaviour.
I believe that if the type that passed to the types.model() would be "named typed" and not inferred it would solve most of the problem.
I've tried to find a cleaver way to do so, haven't succeed yet.
`types.model` has some limitation with passing interfaced value.
Maybe we can create a different variant of `t

[2019-11-21 15:37] skokenes commented on #1425
Yea I see what you mean. Another problem I am having is that I am exporting these models to be used by other libraries, but my models include flows which don't work for me when compiling to JS and importing into another library. I get a "Action requires parent context" error for any action called involving a flow.

So, I have been exporting model factory functions instead that my other services ca

[2019-11-21 16:15] Bnaya commented on #1425
I don't think it should happen.
Maybe you have 2 versions of mobx/mobx-state-tree?

[2019-11-21 18:02] skokenes opened #1427 "Extending models imported from other packages with new flows"
**_Question_**

* [x] I've checked documentation and searched for existing issues
* [x] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

I have a monorepo with multiple services that need to leverage the same base MST models. I have a package in that monorepo that creates and exports MST models.

When my other services import those models, if I try to

[2019-11-21 18:03] skokenes commented on #1425
Bnaya, I'll look into that. I put together a sample repo showing this problem in a new issue if you're interested in taking a look and seeing if there is anything obviously wrong that I am doing with my setup https://github.com/mobxjs/mobx-state-tree/issues/1427

[2019-11-21 18:23] Relaxe111 commented on #1078
We are using MST heavily.

[2019-11-22 07:29] zmayor commented on #1415
😨...`flow`  receive a generator function instead of an async function as it's parameter.

[2019-11-22 08:48] Bnaya commented on #1427
It's a `peerDependencies` issue.
Each one of your packages has its own `node_modules/mobx-state-tree"
With yarn workspace it will be simple to setup, not sure about that npm setup you have there
I will try to play with it later

[2019-11-22 10:40] Bnaya commented on #1427
See the following branch:
https://github.com/Bnaya/mst-typescript-dec-test/tree/packages-issue
`npm install && npm start`

You want that all of the packages to share the same `mobx` & `mobx-state-tree`,  there are several ways to do so, the one i used not necessarily the best one, but works as demonstration.

[2019-11-22 14:34] skokenes commented on #1427
Makes sense, thank you!

[2019-11-22 14:34] #1427 closed

[2019-11-23 02:24] beaulac commented on #1425
I was having the same problem with union types, but I had some success by trying defining the output of the union using the other interfaces. `union()` is variadic and so has some crazy return types, but to keep it simple I looked at the one for 2 models:

[code]

So in order to leverage the predefined interfaces, I built upon your method above with the following:

[code]

It worked pretty well; I

[2019-11-23 05:16] beaulac commented on #1415
Yes, but [as mentioned in the docs](https://github.com/mobxjs/mobx-state-tree/blob/master/docs/async-actions.md#what-about-async--await), it's as simple as replacing `async function x() {/*...*/}` with `flow(function* x() {/*...*/})`, and `await` with `yield`.

The generator version of this action in the docs is shorter and simpler than the one using async+`runInAction`, _and_ unlike async impleme

[2019-11-23 06:09] Bnaya commented on #1425
Interesting!
I will try to look into that aswell

[2019-11-24 03:04] whinc commented on #1415
@beaulac Thank you very much for your answers and examples. Flow is able to keep the action transactional, which is enough to convince me to use flow instead of runInAction + async.

[2019-11-24 03:04] #1415 closed

[2019-11-24 11:19] Bnaya commented on #1425
I think i have a nice solution, but i need help with validation before we can make it into a PR
basically i'm wrapping types.union calls with a function that defer the extracting of the internal model shape.
[code]

See diff:
https://github.com/skokenes/mst-typescript-dec-test/commit/495a3c6641b899934a754082456b08c4a43f51a7

which leads to:
[code]

[2019-11-24 11:56] kresli commented on #943
@ArmorDarks No it shouldn't because the model part would complain about circulation. So in the getter you would type model where `me` prop in model is any. therefor there is no circulation.

[2019-11-24 13:52] Bnaya commented on #1425
I have a variadic variant of that function, but i'm not sure if its 100% current types:
[code]

[2019-11-25 06:20] Bnaya commented on #1425
Hey @xaviergonz I would like your feedback for these union wrappers,
They simplify the emitted declarations for unions on some cases
I've also wrote variadic variants that will not require overloads
If you don't see any inherent issue with them, i will try to make a PR and add it as overload, or maybe alias for union with different name and type

[code]

[2019-11-26 10:49] #1424 closed

[2019-11-26 10:50] mweststrate commented on #1416
Closing for inactivity

[2019-11-26 10:50] #1416 closed

[2019-11-27 16:52] oviava opened #1428 "Circular Dependency Issue"
**_Question_**

* [x] I've checked documentation and searched for existing issues
* [x] I tried the [spectrum channel](https://spectrum.chat/?t=dad48299-3dfc-4e10-b6da-9af1e39498a3)

Following a lot of hours of research, I ran into this: https://github.com/mobxjs/mst-gql/pull/140. Tested it in my codebase and it's finally a 'sort' of fix for the typings on circular dependencies.

Are you guys cons

[2019-11-27 16:56] oviava commented on #1428
Posted this from my phone, I'll update it further when I get home.

[2019-11-27 17:37] mweststrate commented on #943
Please don't reply on closed issues

[2019-11-28 12:48] oviava commented on #1428
So coming back to this, for dealing with circular references, an idea - copying most of it from @godness84

[code]

Maybe someone with more TS knowledge can build on this and provide it as an API in MST ?

[2019-11-28 12:49] oviava commented on #1428
Tagging in @mweststrate cause I think he followed the mst-gql issue as well

[2019-11-28 13:26] mweststrate commented on #1428
Sorry, could you summarize it without referring to an entire thread? Note that in MST there is no code generation unlike in mst-gql, so the options are a bit more limited, as we need to have TS infer the types, rather than generating them.

[2019-11-28 13:58] oviava commented on #1428
Sorry, basically they added a solution to their generator to better provide types on circular dependencies without typescript blowing up

[code]

With the above I'm thinking if somehow we can integrate something in MST's API like

[code]

To provide better typings for these circular references

In the example above we can do

[code]

And then in actions for example or where the instance is used

[

[2019-11-28 14:06] oviava commented on #1428
I hope @xaviergonz not gonna mind linking him but I've seen he worked a lot on the TS/typings for MST :)

[2019-11-29 15:09] Yassir4 commented on #1185
For anyone else still facing issues with updating the flatlist , try this
`data={data.slice()}`

[2019-12-01 02:00] MossP opened #1429 "Observable values fail to consistently trigger render when Fast Refresh is enabled on React Native projects."
**_Bug report_**
Observer appears to become broken when Fast Refresh is used on React Native.
Pressing the 'Add' and clear buttons work as expected until a save is detected in the working folder.
Depending on location of the save index.tsx or todolist.tsx one or both of the modules that are being passed props from the observable module stop working. Saving anything in /Models/* again restores func

[2019-12-02 18:20] jonlambert commented on #1415
Also something worth noting is that unlike `await`, the compiler is unable to infer a type from a `yield`. It's not a huge issue but does mean it's not as simple as just swapping one for the other.